<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{'HOME_MENU.TITLE' | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-menu (logout)="showAlertLogout();"></app-menu>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" [swipeGesture]="false"></ion-router-outlet>
  </ion-split-pane>
</ion-app>