<ion-list>
  <ion-list-header>
    {{'CHALLENGES.ACTION.QUESTIONNAIRE_QUESTIONS'|translate}}
    <ion-button (click)="toggleReorder()" style="margin-right: 15px;">
      {{ reorderDisabled === true ? 'Ordenar preguntas' : 'Guardar ordenación actual'}}
    </ion-button>
  </ion-list-header>

  <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="reorderDisabled">
    <ion-item *ngFor="let element of surveyPage.elements" button (click)="onQuestionEditClick(element)">
      <ion-reorder slot="start"></ion-reorder>
      <ion-icon name="{{ element.getType() | questionTypeToIcon }}" class="item-icon"></ion-icon>
      <ion-label>{{ element.name }}</ion-label>
      <ion-icon *ngIf="reorderDisabled" class="item-detail-icon md hydrated" role="img" name="ios-arrow-forward">
      </ion-icon>
    </ion-item>
  </ion-reorder-group>
</ion-list>

<ion-item button (click)="onAddQuestionClick()" lines="none" color="tertiary" *ngIf="reorderDisabled === true">
  <ion-icon name="add-circle" class="item-icon"></ion-icon>
  <ion-label>{{'CHALLENGES.ACTION.ADD_QUESTION'|translate}}</ion-label>
</ion-item>