<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-text-center">{{ 'MENU.MANAGE_GROUPS' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-col size="12" sizeLg="8" sizeXl="9">
                  <ion-searchbar placeholder="{{ 'GROUPS.FIND_GROUP' | translate }}" (ionChange)="onSearch($event)">
                  </ion-searchbar>
                </ion-col>
                <ion-col size="12" offset="0" sizeSm="6" offsetSm="6" sizeLg="4" offsetLg="0" sizeXl="3">
                  <ion-button expand="block" size="" (click)="addGroup()">
                    <ion-icon slot="start" name="add"></ion-icon>{{ 'GROUPS.ADD_GROUPS' | translate }}
                  </ion-button>
                </ion-col>
              </ion-row>
              <!-- Unassigned users group -->
              <ion-card button (click)="showGroupDetail()">
                <ion-item lines="none" class="unassigned-users">
                  <ion-icon slot="start" name="people"></ion-icon>
                  {{'GROUPS.UNASSIGNED' | translate}}
                  <ion-buttons slot="end">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-card>
              <div *ngIf="groups.length > 0">
                <hr />
                <!-- List headers -->
                <ion-row>
                  <ion-col size="4" class="ion-text-center"><strong>{{'GROUPS.FIELDS.GROUP_NAME' | translate}}</strong>
                  </ion-col>
                  <ion-col size="2" class="ion-text-center"><strong>{{'GROUPS.FIELDS.NUMBER_OF_USERS' |
                      translate}}</strong>
                  </ion-col>
                  <ion-col size="2" class="ion-text-center"><strong>{{'GROUPS.FIELDS.POINTS' | translate}}</strong>
                  </ion-col>
                  <ion-col size="4"></ion-col>
                </ion-row>
                <hr class="solid" />
                <!-- List content -->
                <ion-list *ngIf="groups.length > 0">
                  <ion-item button *ngFor="let group of groups;let i = index" (click)="showGroupDetail(group)"
                    class="group-item">
                    <ion-col size="4" class="ion-text-center">{{group.name}}</ion-col>
                    <ion-col size="2" class="ion-text-center">{{group.usersAmount ? group.usersAmount : '0'}}</ion-col>
                    <ion-col size="2" class="ion-text-center">{{group.pointsAmount ? group.pointsAmount : '0'}}
                    </ion-col>
                    <ion-col size="4">
                      <ion-buttons class="ion-justify-content-end">
                        <ion-button>
                          <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
                        </ion-button>
                        <ion-button (click)="onStatsClick(group);$event.stopPropagation();">
                          <ion-icon slot="icon-only" name="stats-chart"></ion-icon>
                        </ion-button>
                        <ion-button (click)="onExportClick(group);$event.stopPropagation();"
                          *ngIf="buildingReportFor === undefined || buildingReportFor!==group.id; else spinner"
                          [disabled]="!!buildingReportFor">
                          <ion-icon slot="icon-only" name="download"></ion-icon>
                        </ion-button>
                        <ion-button (click)="onRemoveClick(i);$event.stopPropagation();">
                          <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>
                  </ion-item>
                </ion-list>
              </div>
              <ion-item lines="none" *ngIf="groups.length === 0 ">

                <ion-label class="ion-text-center" *ngIf="!loadingGroups; else groupLoad">{{ 'GROUPS.NO_GROUPS_CREATED'
                  | translate }}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #spinner>
  <span style="width: 48px;height: 48px;display: flex; align-items: center; justify-content: center;">
    <ion-spinner></ion-spinner>
  </span>
</ng-template>

<ng-template #groupLoad>
  <ion-skeleton-text [animated]="true"></ion-skeleton-text>
</ng-template>