hr.solid {
    border-top: 3px solid rgba(0, 0, 0, 0.13);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

ion-list {
    padding-top: 0px;
}

.group-item {
    --padding-start: 0px;
}

.unassigned-users {
    --background: #f2f2f2;
}

ion-card {
    box-shadow: none !important;
}
