<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'USER.EDIT_USER' | translate }}</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <div *ngIf="user">
          <ion-item>
            <ion-label>{{ 'USER.FIELDS.USER_NAME' | translate }}: {{getDisplayName()}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'USER.FIELDS.USER_ID' | translate }}: {{user.displayId}}</ion-label>
            <ion-input *ngIf="user.roles.includes('Child')" [(ngModel)]="user.externalId"
              placeholder="{{ 'USER.FIELDS.STUDENT_CUSTOM_CODE' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'ROL.SINGULAR' | translate }}: {{getRole()}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label *ngIf="user.roles.includes('Parent')">{{ 'USER.FIELDS.CARING_FOR' | translate }}</ion-label>
            <ion-label *ngIf="user.roles.includes('Child')">{{ 'USER.FIELDS.ASSIGNED_TO' | translate }}</ion-label>
            <ionic-selectable placeholder="{{ 'ACTION.SELECT' | translate }}" [items]="users" itemValueField="id"
              (onSearch)="searchUsers($event)" [canSearch]="true" [isMultiple]="true"
              searchFailText="{{ 'ERRORS.USER_NOT_FOUND' | translate }}" [canClear]="true"
              searchPlaceholder="{{ 'ACTION.FIND' | translate }}" clearButtonText="{{ 'ACTION.DELETE' | translate }}"
              closeButtonText="{{ 'ACTION.CANCEL' | translate }}" closeButtonSlot="end" [(ngModel)]="selectedUsers">
              <ng-template ionicSelectableItemTemplate let-user="item" let-isUserSelected="isItemSelected">
                {{getItemTextField(user)}}
              </ng-template>
              <ng-template ionicSelectableValueTemplate let-users="value">
                <div class="ionic-selectable-value-item">{{formatUsers(users)}}</div>
              </ng-template>
            </ionic-selectable>
          </ion-item>
          <ion-button (click)="saveUser()" style="margin-top: 20px;" expand="full">{{ 'ACTION.SAVE' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>