<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-text-center">
              {{'STATS.ENTITY_STATS' | translate}}
            </ion-title>
          </ion-toolbar>
        </ion-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8" offset="2">
        <ion-row>
          <ion-col>
            <ion-label>{{'STATS.SELECT_INDICATOR' | translate}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-left">
          <ion-col>
            <ion-row class="ion-align-items-center">
              <ion-col size="12" sizeSm="4">
                <ion-label><strong>{{'STATS.INDICATOR_TYPE' | translate}}:</strong></ion-label>
              </ion-col>
              <ion-col size="12" sizeSm="8">
                <ion-card>
                  <ion-select [(ngModel)]="statTypeSelection" value="usersStats" interface="popover">
                    <ion-select-option value="usersStats">{{'STATS.USER_INDICATORS' | translate}}</ion-select-option>
                    <ion-select-option value="challengesStats">{{'STATS.CHALLENGE_INDICATORS' | translate}}
                    </ion-select-option>
                  </ion-select>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- Variable content -->

        <!-- User stats -->
        <div *ngIf="statTypeSelection === 'usersStats'">
          <ion-row>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_GROUPS' | translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_PROFESSIONALS' | translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_PARENTS' | translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_CHILDREN' | translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_STEPS' | translate}}</strong>
            </ion-col>
          </ion-row>
          <hr class="solid" />
          <ion-row *ngIf="entityStats">
            <ion-col class="ion-text-center" size="2.4">{{entityStats.numGroups ? entityStats.numGroups : 0}}</ion-col>
            <ion-col class="ion-text-center" size="2.4">{{getProfessionalsNumber()}}</ion-col>
            <ion-col class="ion-text-center" size="2.4">{{entityStats.numParents ? entityStats.numParents : 0}}
            </ion-col>
            <ion-col class="ion-text-center" size="2.4">{{entityStats.numChildren ? entityStats.numChildren : 0}}
            </ion-col>
            <ion-col class="ion-text-center" size="2.4">{{entityStats.numSteps ? entityStats.numSteps : 0}}</ion-col>
          </ion-row>
        </div>
        <!-- Challenge stats -->
        <div *ngIf="statTypeSelection === 'challengesStats'">
          <ion-row>
            <ion-col class="ion-text-center" size="3"><strong>{{'STATS.POINTS' | translate}}</strong></ion-col>
            <ion-col class="ion-text-center" size="3"><strong>{{'STATS.NUMBER_OF_ASSIGNED_CHALLENGES' |
                translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="3"><strong>{{'STATS.NUMBER_OF_COMPLETE_CHALLENGES' |
                translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="3"><strong>{{'STATS.NUMBER_OF_NOT_COMPLETE_CHALLENGES' |
                translate}}</strong>
            </ion-col>
          </ion-row>
          <hr class="solid" />
          <ion-row *ngIf="entityStats">
            <ion-col class="ion-text-center" size="3">{{entityStats.points ? entityStats.points : 0}}</ion-col>
            <ion-col class="ion-text-center" size="3">{{getNumberAssignedChallenges()}}</ion-col>
            <ion-col class="ion-text-center" size="3">{{getNumberCompletedChallenges()}}</ion-col>
            <ion-col class="ion-text-center" size="3">{{getNumberOfNotCompletedChallenges()}}</ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>