<!-- General category -->
<ion-list>
  <ion-list-header lines="full">{{ 'GENERAL' | translate | uppercase }}</ion-list-header>
  <ion-item>
    <ion-label class="form-label" position="floating">{{ 'NAME' | translate }}:</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="question.name"
      (ionChange)="onContentChange()"
      debounce="100"
      name="name"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="form-label" position="floating">{{ 'DESCRIPTION' | translate }}:</ion-label>

    <ion-textarea
      [(ngModel)]="question.description"
      (ionChange)="onContentChange()"
      debounce="100"
      name="description"
      auto-grow
    ></ion-textarea>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="form-label">{{ 'ACTION.IS_REQUIRED_QUESTION' | translate }}</ion-label>
    <ion-toggle
      [(ngModel)]="question.isRequired"
      (ionChange)="onContentChange()"
      debounce="100"
      name="isRequired"
      slot="start"
    ></ion-toggle>
  </ion-item>
</ion-list>
