<ion-content fullscreen>
  <ion-grid>
    <ion-row style="margin-top: 2.5em;">
      <ion-col size="6" offset="3">
        <ion-img src="assets/images/logoLogin.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 1.5em;" *ngIf="isPrivacyAccepted">
      <ion-col size="6" offset="3">
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-text-center">{{ 'LOGIN.LOGIN' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>

        <form [formGroup]="login" (ngSubmit)="doLogin()">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="person"></ion-icon> {{ 'USER.SINGULAR' | translate }}
            </ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">
              <ion-icon name="key"></ion-icon> {{ 'PASSWORD' | translate }}
            </ion-label>
            <ion-input type="password" clearOnEdit="false" formControlName="password" (keyup.enter)="doLogin()">
            </ion-input>
          </ion-item>
          <span style="display: flex;flex-flow: column;">
            <ion-button class="ion-margin-top" type="submit" [disabled]="!login.valid">
              {{ 'LOGIN.LOGIN' | translate }} <ion-icon name="log-in-outline"></ion-icon>
            </ion-button>
            <a class="ion-margin-top" color="light" (click)="showLostPasswordModal()">
              {{ 'LOGIN.FORGOT_PASSWORD' | translate }} <ion-icon name="log-in-outline"></ion-icon>
            </a>
          </span>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>