<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-text-center">{{ 'CHALLENGES.ASSIGN_CHALLENGE' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <form [formGroup]="assignForm" (ionChange)="formChanged()">
          <ion-grid>
            <ion-row>
              <ion-col>
                <app-assign-to (changed)="assignToComponentChange($event)" (levelSelected)="onLevelSelected($event)"
                  [canEdit]="true">
                </app-assign-to>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ 'CHALLENGES.FIELDS.START_DATE' | translate }}</ion-label>
                  <ion-input readonly [value]="initialChallengeDate" formControlName="initialDate"
                    (click)="openDatePicker('initial')"></ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="initialDate?.invalid && initialDate?.errors?.['required'] && isSubmitted">
                  <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
                  <ion-label color="danger" style="font-size: 11px;">
                    {{ 'ERRORS.START_DATE_REQUIRED' | translate }}
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ 'CHALLENGES.FIELDS.END_DATE' | translate }}</ion-label>
                  <ion-input readonly [value]="finishChallengeDate" formControlName="finishDate"
                    (click)="openDatePicker('finish')"></ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="finishDate?.invalid && finishDate?.errors?.['required'] && isSubmitted">
                  <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
                  <ion-label color="danger" style="font-size: 11px;">
                    {{ 'ERRORS.END_DATE_REQUIRED' | translate }}
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ 'CHALLENGES.FIELDS.VISIBLE_DATE' | translate }}</ion-label>
                  <ion-input readonly [value]="visibleChallengeDate" formControlName="visibleDate"
                    (click)="openDatePicker('visible')"></ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="visibleDate?.invalid && visibleDate?.errors?.['required'] && isSubmitted">
                  <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
                  <ion-label color="danger" style="font-size: 11px;">
                    {{ 'ERRORS.VISIBLE_DATE_REQUIRED' | translate }}
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item button (click)="onSelectChallengeClick()">
                  <ion-label position="stacked">{{ 'CHALLENGES.SELECTED_CHALLENGE' | translate }}</ion-label>
                  <ion-input readonly>{{selectedChallenge ? selectedChallenge.title : 'Selecciona un reto...'}}
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-item lines="none" *ngIf="!selectedChallenge && isSubmitted">
              <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
              <ion-label color="danger" style="font-size: 11px;">
                {{ 'ERRORS.DEFINITION_REQUIRED' | translate }}
              </ion-label>
            </ion-item>
            <ion-row *ngIf="challenges && selectChallengeClicked">
              <ion-col>
                <ion-list-header>{{ 'CHALLENGES.PLURAL' | translate }}</ion-list-header>
                <ion-searchbar placeholder="{{ 'CHALLENGES.FIND_CHALLENGE' | translate }}"
                  (ionChange)="onSearch($event)">
                </ion-searchbar>
                <div style="width: 100%; max-height: 400px; overflow-y: auto;" scrollY="true">
                  <ion-segment value="todos" (ionChange)="onLockDownChanged($event)">
                    <ion-segment-button value="todos">
                      <ion-label>{{ 'ACTION.ALL' | translate }}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="lockDown">
                      <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_COMPATIBLE' | translate }}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="noLockDown">
                      <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_NO_COMPATIBLE' | translate }}</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                  <ion-item>
                    <ionic-selectable placeholder="{{ 'DIDACTIC_UNIT.FILTER_BY_DIDACTIC_UNIT' | translate }}"
                      [(items)]="allDidacticUnits" itemValueField="id" itemTextField="name" [canSearch]="true"
                      [isMultiple]="true" searchFailText="{{ 'ERRORS.DIDACTIC_UNIT_NOT_FOUND' | translate }}"
                      clearButtonText="{{ 'ACTION.CANCEL' | translate }}" [canClear]="true"
                      searchPlaceholder="{{ 'ACTION.FIND' | translate }}"
                      confirmButtonText="{{ 'ACTION.SELECT' | translate }}"
                      closeButtonText="{{ 'ACTION.CLOSE' | translate }}"
                      addButtonText="{{ 'ACTION.CREATE' | translate }}" closeButtonSlot="end"
                      (onClose)="onCloseDidacticUnits($event)">
                      <ng-template ionicSelectableValueTemplate let-units="value">
                        <div class="ionic-selectable-value-item">
                          {{formatDidacticUnits(units)}}
                        </div>
                      </ng-template>
                    </ionic-selectable>
                  </ion-item>
                  <ion-list>
                    <ion-item button="true" *ngFor="let challenge of challenges; let i = index"
                      (click)="onChallengeSelected(i)">{{challenge.title}}</ion-item>
                  </ion-list>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="selectedChallenge">
              <ion-col>
                <ion-item lines="none">
                  <ion-label>{{ 'CHALLENGES.ACTION.CHANGE_DEFINITION' | translate }}</ion-label>
                  <ion-checkbox slot="start" (ionChange)="onOverridesChecked($event)"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="selectedChallenge && !overrideDefinition">
              <ion-col>
                <app-challenge-preview [challenge]="selectedChallenge "></app-challenge-preview>
              </ion-col>
            </ion-row>
            <div *ngIf="overrideDefinition">
              <app-challenge-form [isFromAddChallenge]="false" [submitObserver]="submitEmitter"
                [clearObserver]="clearEmitter" (challengeCorrect)="sendChallenge($event)"
                (challengeError)="showChallengeError($event)" [onChallengeSelected]="selectedChallengeEmitter">
              </app-challenge-form>
            </div>
          </ion-grid>
        </form>
        <ion-row style="margin-top: 40px;">
          <ion-col>
            <ion-button expand="full" type="submit" (click)="assignChallenge()">
              {{ 'CHALLENGES.ASSIGN_CHALLENGE' | translate }}<ion-icon slot="start" name="add-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>