<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-text-center">{{ 'CHALLENGES.ADD_CHALLENGE' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <app-challenge-form [isFromAddChallenge]="true" [submitObserver]="submitEmitter" [clearObserver]="clearEmitter"
          (challengeCorrect)="sendChallenge($event)" (challengeError)="showChallengeError($event)">
        </app-challenge-form>
        <ion-row style="margin-top: 2em;">
          <ion-col size="2">
            <ion-button expand="full" type="submit" (click)="clean()">
              {{ 'ACTION.CLEAR' | translate }}<ion-icon name="refresh"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button expand="full" type="submit" (click)="add(true)">
              {{ 'ACTION.ADD_AND_CONTINUE' | translate }}<ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button expand="full" type="submit" (click)="add(false)">
              {{ 'ACTION.ADD_AND_EXIT' | translate }}<ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>