ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-card {
  font-size: 14px;
}

ion-chip {
  font-size: small;
  color: white;
}

ion-chip.type {
  background-color: rgba(60, 60, 60, 0.5);
  border-color: rgb(60, 60, 60);
}

ion-chip.assignedFor {
  background-color: rgba(100, 210, 220, 0.5);
  border-color: rgb(100, 210, 220);
}

ion-chip.step {
  background-color: rgba(255, 75, 0, 0.5);
  border-color: rgb(255, 75, 0);
}

.challenge-header {
  display: inline;
}

.start-time {
  font-size: 14px;
  color: orange;
}

.steps-card {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid rgb(60, 60, 60);
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;

  .walk-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  .physicalSteps {
    color: rgb(6, 80, 99);
    font-size: 24px;
    padding: 5px;
  }

  .ion-activatable {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .refresh-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
}

.ios ion-button {
  font-size: 16px;
}

.lastCheck {
  font-size: x-small;
}

.challenge-description-container {
  margin: 10px 0px;
}

ion-accordion {
  font-size: larger;

  ion-item {
    font-size: larger;
  }
}