<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="challenge">{{challenge.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="challenge-header">
    <h1 *ngIf="challenge" class="title">{{challenge.title}}</h1>
  </div>
  <div>
    <span *ngFor="let challengeFor of  challenge?.assignedFor">
      <ion-chip class="assignedFor">{{getChallengeFor(challengeFor) | lowercase}}</ion-chip>
    </span>
    <ion-chip *ngIf="challenge" class="type">{{challengeTagType | lowercase}}</ion-chip>
    <ion-chip *ngIf="challenge" class="step">{{challengeCategory}}</ion-chip>
  </div>
  <div *ngIf="challenge" class="challenge-specs" style="margin-top: 10px;">
    <p class="start-time" style="display: inline; margin-right: 20px;">
      {{challenge.periodStartDatetime | date:'longDate':'':locale}} -
      {{challenge.periodFinishDatetime | date:'longDate':'':locale}}
    </p>
    <div *ngIf="challengeCompleted" style="display: inline-block;">
      <ion-icon name="checkmark-circle-outline" style="color: green; vertical-align: middle; margin-right: 5px;">
      </ion-icon>
      <span style="font-size: 14px;">{{'CHALLENGE_DETAIL.COMPLETED' | translate}}</span>
    </div>
  </div>
  <ion-accordion-group *ngIf="challenge" value="description" class="challenge-description-container">
    <ion-accordion value="description">
      <ion-item slot="header">
        {{'CHALLENGE_DETAIL.DESCRIPTION'|translate}}
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-text>{{challenge.description}}</ion-text>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- variable content here -->
  <div *ngIf="challenge" [ngSwitch]="challenge.type">
    <!-- content for physical challenge -->
    <div *ngSwitchCase="challengeType.physical"
      [ngStyle]="(arePermissionsAuthorized && challenge.important && hasChallengeStarted) ? {'padding-bottom': '100px'} : {'padding-bottom': '0px'}">
      <p *ngIf="challenge">
        {{'CHALLENGE_DETAIL.OVERCOME_STEPS' | translate}}
        <span style="color: rgb(255, 75, 0);">
          <strong>{{challenge.steps}} {{'CHALLENGE_DETAIL.STEPS' | translate}}</strong>
        </span>
        {{'CHALLENGE_DETAIL.STEPS_PROPOSED' | translate}}
      </p>
      <div *ngIf="!arePermissionsAuthorized">
        <p>
          {{'CHALLENGE_DETAIL.NEED_PERMISSION' | translate}}
        </p>
        <ion-button expand="block" fill="outline" (click)="getSteps()" [disabled]="!challenge.important || !isOnTime">
          {{'CHALLENGE_DETAIL.ACCESS_STEPS' | translate}}
        </ion-button>
      </div>
      <p *ngIf="!challenge.important && hasChallengeStarted">
        <strong>{{'CHALLENGE_DETAIL.USER_CANT_COMPLETE' | translate}}</strong>
      </p>
      <p *ngIf="!hasChallengeStarted">
        <strong>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime |
          date:'longDate'}}</strong>
      </p>
    </div>

    <!-- content for authority challenge -->
    <div *ngSwitchCase="challengeType.authority">
      <div *ngIf="haveToAuthorize && !challengeCompleted">
        <p>{{'CHALLENGE_DETAIL.PRESS_TO_CONFIRM' | translate}}</p>
        <!-- this button is only visible if the challenge is assignedFor a parent -->
        <ion-button *ngIf="authorityIsCompletedByParents()" expand="block" fill="outline"
          (click)="authorityChallengeDone(false)" [disabled]="!haveToAuthorize || !isOnTime"
          style="margin-bottom: 20px;">
          {{'CHALLENGE_DETAIL.COMPLETED_BY_ME' | translate}}</ion-button>
        <!-- this button is only visible if the challenge is assignedFor a child -->
        <ion-button *ngIf="authorityIsCompletedByChild()" expand="block" fill="outline"
          (click)="authorityChallengeDone(true)" [disabled]="!haveToAuthorize || !isOnTime">
          {{'CHALLENGE_DETAIL.COMPLETED_BY_CHILDREN' | translate}}</ion-button>
      </div>
      <p *ngIf="!haveToAuthorize"> <strong>{{'CHALLENGE_DETAIL.USER_HAS_TO_BE_AUTHORIZED' | translate}}</strong> </p>
      <p *ngIf="!hasChallengeStarted">
        <strong>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime |
          date:'dd \'de\' MMMM \'del\' yyyy'}}</strong>
      </p>
    </div>

    <!-- content for gps challenge -->
    <div *ngSwitchCase="challengeType.gps">
      <app-gps-challenge [challenge]="challenge" [hasChallengeStarted]="hasChallengeStarted" [isOnTime]="isOnTime"
        (completed)="markAChallengeAsCompleted($event)"></app-gps-challenge>
    </div>

    <!-- content for questionary challenge -->
    <div *ngSwitchCase="challengeType.questionnaire">
      <p>{{'CHALLENGE_DETAIL.DO_QUESTIONNAIRE' | translate}}</p>
      <ion-button expand="block" fill="outline" (click)="goToQuestionnaire()"
        [disabled]="!isOnTime || !challenge.important">
        {{'VERBS.CONTINUE' | translate}}
      </ion-button>
      <p *ngIf="!challenge.important">
        <strong>{{'CHALLENGE_DETAIL.USER_CANT_COMPLETE' | translate}}</strong>
      </p>
      <p *ngIf="!hasChallengeStarted">
        <strong>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime |
          date:'longDate':'':locale}}</strong>
      </p>
    </div>

    <!-- content for news challenge -->
    <div *ngSwitchCase="challengeType.news">
      <p>{{'CHALLENGE_DETAIL.READ_NEXT_NEWS' | translate}}</p>
      <ion-button expand="block" fill="outline" (click)="goToNews()" [disabled]="!challenge.important">
        {{'CHALLENGE_DETAIL.READ_NEWS' | translate}}
      </ion-button>
      <p *ngIf="!challenge.important">
        <strong>{{'CHALLENGE_DETAIL.USER_CANT_COMPLETE' | translate}}</strong>
      </p>
      <p *ngIf="!hasChallengeStarted">
        <strong>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime |
          date:'longDate':'':locale}}</strong>
      </p>
    </div>
  </div>
</ion-content>

<!-- Steps card footer for challenge type physical -->
<footer *ngIf="challenge && challenge.type === challengeType.physical">
  <ion-card class="steps-card" *ngIf="arePermissionsAuthorized && challenge.important && hasChallengeStarted">
    <ion-icon name="walk-outline" class="walk-icon"></ion-icon>
    <div style="display:flex;flex-direction: column;">
      <span class="physicalSteps">
        <strong>{{stepsDone}} / {{challenge.steps}} {{'CHALLENGE_DETAIL.STEPS' | translate}}</strong>
      </span>
      <span class="lastCheck">{{'CHALLENGE_DETAIL.LAST_HEALTH_DATA_CHECK'|translate}}:
        {{lastCheckDate|date:'medium':'':locale}}</span>
    </div>
    <div class="ion-activatable" (click)="refreshSteps()">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      <ion-icon name="refresh" class="refresh-icon"></ion-icon>
    </div>
  </ion-card>
</footer>