:host {
    ion-content {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-start: 20px;
        --padding-end: 20px;

        form {
            ion-input {
                border: 1px solid var(--ion-color-light-tint);
            }
        }
    }
}