<ion-header>
  <ion-toolbar>
    <ion-title>{{'APP_NAME' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h1>{{'REGISTER.TITLE' | translate}}</h1>
  <p><strong>{{'REGISTER.BEFORE_REGISTER' | translate}}:</strong></p>
  <ul>
    <li>{{'REGISTER.CONSIDERATION1'|translate}}
    <li>{{'REGISTER.CONSIDERATION2'|translate}}
    <li>{{'REGISTER.CONSIDERATION3'|translate}}
  </ul>

  <p>{{'REGISTER.SUBTITLE' | translate}}</p>
  <form #authForm="ngForm">
    <ion-input name="code" #name="ngModel" placeholder="{{'REGISTER.INPUT_PLACEHOLDER' | translate}}" [disabled]="isAlreadyRegistered" type="text" [(ngModel)]="registerCode" required></ion-input>
    <span *ngIf="isAlreadyRegistered">
      <ion-input name="password" #passwordModel="ngModel" placeholder="{{'REGISTER.INPUT_PASSWORD_PLACEHOLDER' | translate}}" type="text" [(ngModel)]="password" type="password" required></ion-input>
    </span>
    <ion-button expand="block" fill="outline" type="submit" (click)="register();" [disabled]="!authForm.valid">
      {{'VERBS.REGISTER' | uppercase | translate}}</ion-button>
  </form>

</ion-content>