<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="display: flex; justify-content: flex-end;">
        <ion-button fill="clear" (click)="closeModal()">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 20px; margin-right: 20px;">
      <ion-col>
        <h2>{{header}}</h2>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 20px; margin-right: 20px;">
      <ion-col>
        <div [innerHTML]="message"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>