<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let option of menuOptions" size="12" sizeMd="4" sizeLg="3">
        <ion-button expand="block" (click)="goToUrl(option.url)">
          <ion-icon slot="start" [name]="option.icon"></ion-icon> {{option.name}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>