/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-draw/dist/leaflet.draw.css";

//PAIDO Fonts:
@font-face {
  font-family: "Ocra";
  src: url("assets/font/ocra.ttf");
}

@font-face {
  font-family: "DIN Pro";
  src: url("assets/font/DINPro-Light.otf");
}

@font-face {
  font-family: "DIN Alternate Bold";
  src: url("assets/font/DINAlternate-Bold.ttf");
}

$color-paido-cyan-hex: #64d2dc;
$color-paido-cyan-rgb: rgb(100, 210, 220);
$color-paido-orange-hex: #ff4b00;
$color-paido-orange-rgb: rgb(255, 75, 0);
$color-paido-black-hex: #3c3c3c;
$color-paido-black-rgb: rgb(60, 60, 60);
$color-paido-font-grey-hex: #85878b;

* {
  font-family: "DIN Pro", sans-serif;
}

ion-header * {
  font-family: "Ocra", sans-serif;
}

ion-button {
  --background: rgb(100, 210, 220);
  --background-hover: rgb(100, 210, 220);
  --color: white;
}

ion-toast {
  --background: #ff4b00;
  --button-color: white;
  font-family: "DIN Alternate Bold", sans-serif;
}

.modal-fullscreen {
  .modal-wrapper {
    position: absolute;
    top: 10;
    display: block;
    width: 80%;
    height: 80%;
  }
}

.modal-move-user {
  .modal-wrapper {
    height: 30%;
  }
  
}