<ion-content class="content">
  <p class="text-content" innerHTML="{{'PRIVACY_POLICY_MODAL.DISCLAIMMER' | translate}}"> </p>
  <p class="text-content" innerHTML="{{'PRIVACY_POLICY_MODAL.EXPLANATION' | translate}}"></p>
  <p class="text-content" innerHTML="{{'PRIVACY_POLICY_MODAL.PROCEED' | translate}}"></p>

  <ion-item lines="none" class="ion-justify-content-center" style="display: flex; --padding-top: 10px; --padding-bottom: 10px;">
    <ion-checkbox slot="start" [(ngModel)]="privacyAccepted"></ion-checkbox>
    <span class="text-content">{{'PRIVACY_POLICY_MODAL.CHECKBOX_TEXT' | translate}}</span>
  </ion-item>

  <div class="buttons">
    <ion-button fill="outline" color="light" class="cancel" (click)="cancel()">
      <ion-icon slot="start" name="thumbs-down"></ion-icon>
      {{'VERBS.DECLINE' | translate}}
    </ion-button>
    <ion-button fill="outline" (click)="accept()" [disabled]="!privacyAccepted">
      <ion-icon slot="start" name="thumbs-up"> </ion-icon>{{'VERBS.ACCEPT' | translate}}
    </ion-button>
  </div>
</ion-content>