.content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-bottom: 20px;
}

/* .text-content {
    font-size: 13px;
} */

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    ion-button {
        flex-grow: 0.5;
        margin-left: 3px;
        margin-right: 3px;
        // background-color: var(--ion-color-primary);
    }
}