<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home" class=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'HOME.STAIR' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h2 class="step-title" *ngIf="title">{{title | uppercase}}</h2>
  <ion-grid>
    <ion-row class="top-buttons-row">
      <ion-col class="button-news">
        <ion-row>
          <ion-button expand="block" fill="outline" class="news" (click)="openChallengesList('news')">
            {{'STEP_DETAIL.NEWS' | translate}}
          </ion-button>
          <div style="z-index: 1;">
            <ion-badge class="badge" *ngIf="count && count.news">
              {{count.news}}
            </ion-badge>
          </div>
        </ion-row>
      </ion-col>
      <ion-col class="button-activities">
        <ion-row>
          <ion-button expand="block" fill="outline" (click)="openChallengesList('activities')">
            {{'STEP_DETAIL.ACTIVITIES' | translate}}
          </ion-button>
          <div style="z-index: 1;">
            <ion-badge class="badge" *ngIf="count && count.activities">
              {{count.activities}}
            </ion-badge>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="circle-container">
      <div class="circle-step">
        <div class="circle-inside">
          <img *ngIf="key === keyPrepare" class="step-image" src="assets/icono-paido.PNG" alt="">
          <img *ngIf="key === keyActivate" class="step-image" src="assets/activate-icon.PNG" alt="">
          <img *ngIf="key === keyAvoid" class="step-image" src="assets/avoid-icon.PNG" alt="">
          <img *ngIf="key === keyEnjoy" class="step-image" src="assets/enjoy-icon.PNG" alt="">
          <img *ngIf="key === keyKeep" class="step-image" src="assets/keep-icon.PNG" alt="">
        </div>
      </div>
    </ion-row>
    <ion-row class="bottom-buttons-row">
      <ion-col class="button-challenges">
        <ion-row>
          <ion-button expand="block" fill="outline" class="challenges" (click)="openChallengesList('challenges')">
            {{'STEP_DETAIL.CHALLENGES' | translate}}
          </ion-button>
          <div style="z-index: 1;">
            <ion-badge class="badge" *ngIf="count && count.challenges">
              {{count.challenges}}
            </ion-badge>
          </div>
        </ion-row>
      </ion-col>
      <ion-col class="button-questionary">
        <ion-row>
          <ion-button expand="block" fill="outline" class="questionary" (click)="openChallengesList('questionnaires')">
            {{'STEP_DETAIL.QUESTIONNAIRES' | translate}}
          </ion-button>
          <div style="z-index: 1;">
            <ion-badge class="badge" *ngIf="count && count.questionnaires">
              {{count.questionnaires}}
            </ion-badge>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>