<div *ngIf="surveyMode === 'edit'" style="display: inline-flex; align-items: center; padding: 0em 0em 1em 1em;">{{
    'ACTION.HELP' | translate }}
    <ion-icon name="help-circle" style="margin-left: 5px;" (click)="showHelp()"></ion-icon>
</div>
<div id="surveyElement"></div>