<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'CHALLENGES.ASSIGNED_CHALLENGES' | translate }}</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="challenges && challenges.length > 0">
      <ion-col size="10" offset="1">
        <ion-segment value="todos" (ionChange)="onLockDownChanged($any($event))">
          <ion-segment-button value="todos">
            <ion-label>{{ 'ACTION.ALL' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="lockDown">
            <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_COMPATIBLE' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="noLockDown">
            <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_NO_COMPATIBLE' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-list *ngIf="challengesFiltered.length > 0">
          <ion-item style="margin-bottom: 10px;" *ngFor="let challenge of challengesFiltered">
            <ion-col>
              <ion-row>
                <ion-label style="font-size: 18px;"><strong>{{challenge.title}}</strong></ion-label>
              </ion-row>
              <ion-row style="margin-top: 10px;">
                <ion-label style="font-size: 14px;">
                  <span>
                    {{ 'CHALLENGES.FIELDS.START_DATE' | translate }}:
                    {{challenge.periodStartDatetime | date: 'dd/MM/yyyy'}} -
                    {{ 'CHALLENGES.FIELDS.END_DATE' | translate }}:
                    {{challenge.periodFinishDatetime | date: 'dd/MM/yyyy'}}
                  </span>
                </ion-label>
                <ion-label style="margin-left: 10px;"
                  *ngIf="challenge.completed || challenge.completedByParents.length > 0">
                  <span style="display: inline-flex; align-items: center;">
                    <ion-icon name="checkmark-circle" style="color: green;"></ion-icon>
                    {{ 'CHALLENGES.COMPLETED' | translate }}
                  </span>
                </ion-label>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" *ngIf="challenges && challenges.length === 0">
          <ion-label>{{ 'USER.NO_ASSIGNED_CHALLENGES_EXISTS' | translate }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>