<div>
  <ion-label *ngIf="canEdit">{{ 'ASSIGN_TO_EXPLANATION' | translate }}</ion-label>

  <ion-card *ngIf="canEdit" style="margin-top: 10px;">
    <ion-item lines="none">
      <span>{{ 'ASSIGN_TO_LEVEL' | translate }}:</span>
      <ion-list style="display: inline-flex;">
        <ion-item lines="none">
          <ion-checkbox slot="start" [(ngModel)]="entityLevel" [disabled]="true"></ion-checkbox>
          <ion-label>{{ 'ENTITIES.PLURAL' | translate }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox slot="start" (ionChange)="onGroupsLevelSelected()" [(ngModel)]="groupsLevel">
          </ion-checkbox>
          <ion-label>{{ 'GROUPS.PLURAL' | translate }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox slot="start" (ionChange)="onUsersLevelSelected()" [(ngModel)]="usersLevel"></ion-checkbox>
          <ion-label>{{ 'USER.PLURAL' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-card>


  <ion-list *ngIf="components">
    <ion-item lines="none" *ngFor="let component of components; let c = index;">
      <ion-grid style="display: inline-block;">
        <ion-row>
          <ion-col *ngIf="!hideEntities">
            <ion-item lines="none" *ngIf="component.entities && component.entities.length > 0">
              <ion-label>{{ 'ENTITIES.PLURAL' | translate }}</ion-label>
              <ion-select multiple="true" placeholder="{{ 'ACTION.SELECT' | translate }}"
                (ionChange)="onEntitiesSelected($any($event), c, component)" okText="{{ 'ACTION.ACCEPT' | translate }}"
                cancelText="{{ 'ACTION.CANCEL' | translate }}">
                <ion-select-option *ngFor="let entity of component.entities; let i = index;" [value]="i">{{entity.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="!hideGroups">
            <ion-item lines="none" *ngIf="haveGroups">
              <ion-label>{{ 'GROUPS.PLURAL' | translate }}</ion-label>
              <ion-select multiple="true" placeholder="{{ 'ACTION.SELECT' | translate }}"
                (ionChange)="onGroupsSelected($any($event), c, component)" okText="{{ 'ACTION.ACCEPT' | translate }}"
                cancelText="{{ 'ACTION.CANCEL' | translate }}" [disabled]="!component.canAssignGroups"
                [(ngModel)]="groupOptions[c]">
                <ion-select-option *ngFor="let group of component.groups; let i= index;" [value]="i">{{group.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" *ngIf="!haveGroups">
              <ion-label>{{ 'GROUPS.NO_GROUPS_CREATED_ADD_THEM' | translate }}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="!hideUsers">
            <ion-item lines="none">
              <ion-label>{{ 'ROL.CHILDS' | translate }}</ion-label>
              <ion-select multiple="true" [(ngModel)]="userOptions[c]" placeholder="{{ 'ACTION.SELECT' | translate }}"
                (ionChange)="onUsersSelected($any($event), c)" okText="{{ 'ACTION.ACCEPT' | translate }}"
                cancelText="{{ 'ACTION.CANCEL' | translate }}" [disabled]="!component.canAssignUsers">
                <ion-select-option *ngFor="let user of component.users; let i = index;" [value]="i">
                  {{resolveUser(user)}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center" *ngIf="canEdit">
            <ion-button class="ion-float-right" (click)="removeComponent(c)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="addComponent()" *ngIf="canEdit">
    <ion-icon name="add-circle"></ion-icon>
  </ion-button>
</div>