<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Política de privacidad</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="padding: 1em;">
    <ion-row>
      <ion-text>A continuación, tiene disponible la información relativa al tratamiento de sus datos de carácter
        personal: <a [href]="privacyUrl" target="_blank">Política de privacidad</a>.</ion-text>
    </ion-row>
    <ion-row>
      <ion-text><strong>Por favor, marque la siguiente casilla para continuar con el acceso a la APP:</strong>
      </ion-text>
    </ion-row>
    <br />
    <ion-row>
      <ion-text>Acepto el tratamiento de mis datos personales a través de la utilización de la APP ESC@LA SALUT.
        <ion-checkbox [(ngModel)]="isAccepted"></ion-checkbox>
      </ion-text>
    </ion-row>
    <br />
    <ion-row>
      <ion-text><strong>Corresponsables del tratamiento:</strong> FUNDACIÓN DE LA COMUNIDAD VALENCIANA PARA LA PROMOCIÓN
        ESTRATÉGICA EL DESARROLLO Y LA INNOVACIÓN URBANA (Las Naves); y Centro Educativo u Hospital del que es usuario.
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-text><strong>Finalidad:</strong> Gestionar su usuario en la APP ESC@LA SALUT, así como su participación en el
        Proyecto.</ion-text>
    </ion-row>
    <ion-row>
      <ion-text><strong>Derechos:</strong> podrán ejercitar los derechos de acceso, rectificación, supresión (olvido),
        limitación, oposición y portabilidad, respecto de sus datos personales, enviando un escrito acompañado de su
        NIF, dirigido a Plaza Ayuntamiento, Núm. 1, C.P.: 46002 - Valencia (Valencia), o a el Delegado de Protección de
        Datos de ESC@LA SALUT: <a href="mailto:lasnaves@dpoexterno.com">lasnaves@dpoexterno.com</a>.</ion-text>
    </ion-row>
    <ion-row>
      <ion-text>Asimismo, en caso de considerar vulnerado su derecho a la protección de datos personales, podrá
        interponer una reclamación ante nuestro Delegado de Protección de Datos (<a
          href="mailto:lasnaves@dpoexterno.com">lasnaves@dpoexterno.com</a>), o ante la Agencia Española de Protección
        de Datos (<a href="https://www.aepd.es" target="_blank" rel="noopener">www.aepd.es</a>).</ion-text>
    </ion-row>
    <br />
    <ion-row>
      <ion-text><strong>Más información: </strong><a [href]="privacyUrl" target="_blank">Política de privacidad</a>
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" type="submit" [disabled]="isAccepted === false" (click)="closeModal()">
          Aceptar<ion-icon></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>