<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'DIDACTIC_UNIT.LIST' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="block" (click)="createDidacticUnit()">
          <ion-icon slot="start" name="add"></ion-icon>{{ 'DIDACTIC_UNIT.CREATE' | translate }}
        </ion-button>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" sizeLg="2">
            <ion-label><strong>{{'DIDACTIC_UNIT.SINGULAR' | translate}}</strong></ion-label>
          </ion-col>
          <ion-col size="12" sizeSm="10" sizeMd="10" sizeLg="8">
            <ion-card>
              <ionic-selectable placeholder="{{ 'DIDACTIC_UNIT.FILTER_BY_DIDACTIC_UNIT' | translate }}"
                [(ngModel)]="selectedDidacticUnit" [(items)]="allDidacticUnits" itemValueField="id" itemTextField="name"
                [canSearch]="true" [isMultiple]="false"
                searchFailText="{{ 'ERRORS.DIDACTIC_UNIT_NOT_FOUND' | translate }}" [canClear]="false"
                searchPlaceholder="{{ 'ACTION.FIND' | translate }}" closeButtonText="{{ 'ACTION.CLOSE' | translate }}"
                closeButtonSlot="end" (onChange)="didacticUnitSelected()">
                <ng-template ionicSelectableValueTemplate let-unit="value">
                  <div class="ionic-selectable-value-item">
                    {{unit.name}}
                  </div>
                </ng-template>
              </ionic-selectable>
            </ion-card>
          </ion-col>
          <ion-col size="6" offset="6" offsetSm="0" sizeSm="2" sizeMd="2" style="display:flex; justify-content: end;">
            <ion-buttons>
              <ion-button (click)="editDidacticUnit()">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button (click)="deleteDidacticUnit()">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px;">
          <ion-label><strong>{{'DIDACTIC_UNIT.CHALLENGES' | translate}}</strong></ion-label>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list *ngIf="challengeDefinitions && challengeDefinitions.length > 0">
              <ion-item button="true" *ngFor="let challenge of challengeDefinitions"
                (click)="onChallengeClicked(challenge)">
                <ion-label>{{challenge.title}}</ion-label>
              </ion-item>
            </ion-list>
            <ion-item lines="none" *ngIf="challengeDefinitions && challengeDefinitions.length === 0">
              <ion-label class="ion-text-center">{{ 'CHALLENGES.NO_DEFINITION_CREATED' | translate }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>