<ion-row [formGroup]="challengeForm">
    <ion-col size="8">
        <ion-text> {{challengeForm.getRawValue().challenge.title}}</ion-text>
    </ion-col>
    <ion-col class="ion-text-center ion-justify-content-end" size="2">
        <ion-item>
            <ion-input type="number" min="0" formControlName="initDate" class="ion-text-center"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col class="ion-text-center ion-justify-content-end" size="2">
        <ion-item>
            <ion-input type="number" min="0" formControlName="endDate" class="ion-text-center"></ion-input>
        </ion-item>
    </ion-col>
</ion-row>
<ion-row *ngIf="challengeForm.get('initDate').errors?.required" style="font-size:12px;">
    <ion-col>
        <ion-icon color="danger" name="alert"></ion-icon>
        <ion-text color="danger">{{'ERRORS.START_DATE_REQUIRED'|translate}}</ion-text>
    </ion-col>
</ion-row>
<ion-row *ngIf="challengeForm.get('initDate').hasError('startDateInvalid')" style="font-size:12px;">
    <ion-col>
        <ion-icon color="danger" name="alert"></ion-icon>
        <ion-text color="danger">{{challengeForm.get('initDate').errors?.startDateInvalid}}</ion-text>
    </ion-col>
</ion-row>
<ion-row *ngIf="challengeForm.get('endDate').errors?.required" style="font-size:12px;">
    <ion-col>
        <ion-icon color="danger" name="alert"></ion-icon>
        <ion-text color="danger">{{'ERRORS.END_DATE_REQUIRED'|translate}}</ion-text>
    </ion-col>
</ion-row>
<ion-row *ngIf="challengeForm.get('endDate').hasError('endDateInvalid')" style="font-size:12px;">
    <ion-col>
        <ion-icon color="danger" name="alert"></ion-icon>
        <ion-text color="danger">{{challengeForm.get('endDate').errors?.endDateInvalid}}</ion-text>
    </ion-col>
</ion-row>