<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'GROUPS.MODIFY_GROUP_MODAL.RENAME'|translate}}</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <form [formGroup]="modifyGroupForm" (ngSubmit)="modifyGroup()">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">{{'GROUPS.FIELDS.GROUP_NAME'|translate}}</ion-label>
                <ion-input formControlName="name"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 20px;">
            <ion-col class="ion-text-center">
              <ion-button type="submit" [disabled]="!modifyGroupForm.valid" expand="block">
                {{'ACTION.MODIFY'|translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>