ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-label {
  margin-left: 10px;
}

ion-item {
  --inner-padding-start: 10px;
  --inner-padding-end: 10px;
  --padding-start: 0px;
}

#separator {
  border-top: 1px solid rgba(163, 162, 162, 0.397);
  margin-top: 20px;
  margin-bottom: 20px;
}
