<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CHALLENGE_DETAIL.NEWS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-news-viewer [content]="newsContent"></app-news-viewer>
  <ion-button *ngIf="challenge.questionnaire && isOnTime" class="button-test" fill="outline" expand="block" (click)="openNewsTest()">
    {{'CHALLENGE_DETAIL.QUESTIONNAIRE' | translate}}
  </ion-button>
  <ion-button *ngIf="!challenge.questionnaire && isOnTime" class="button-test" fill="outline" expand="block" (click)="completeChallenge()">
    {{'CHALLENGE_DETAIL.NEWS_DONE' | translate}}
  </ion-button>
</ion-content>