<!-- <ion-content>
  <ion-grid>
    <ion-col>
      <ion-row> -->
<ion-list class="full-width">
  <ion-list-header>{{ 'CHALLENGES.ACTION.SELECT_ANSWER_TYPE' | translate }}</ion-list-header>
  <ng-container *ngFor="let type of questionTypes">
    <ion-item button (click)="onItemClick(type)">
      <ion-icon name="{{ type.icon }}" slot="start"></ion-icon>
      <ion-label>{{ getValueTranslated(type.name) }}</ion-label>
    </ion-item>
  </ng-container>
</ion-list>
<!-- </ion-row>
    </ion-col>
  </ion-grid>
</ion-content> -->
