ion-card {
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
}

div {
    padding-top: 20px;
}

hr.solid {
    border-top: 3px solid rgba(0, 0, 0, 0.13);
    padding-bottom: 0px;
    margin-bottom: 0px;
}
