<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-text-center" *ngIf="group">{{'STATS.GROUP_STATS' | translate}}: {{group.name}}
            </ion-title>
          </ion-toolbar>
        </ion-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8" offset="2">
        <ion-row>
          <ion-col>
            <ion-label>{{'STATS.SELECT_INDICATOR' | translate}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-left">
          <ion-col>
            <ion-row class="ion-align-items-center">
              <ion-col size="2">
                <ion-label><strong>{{'STATS.INDICATOR_TYPE' | translate}}:</strong></ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-card>
                  <ion-select [(ngModel)]="statTypeSelection" value="usersStats" interface="popover">
                    <ion-select-option value="usersStats">{{'STATS.USER_INDICATORS' | translate}}</ion-select-option>
                    <ion-select-option value="challengesStats">{{'STATS.CHALLENGE_INDICATORS' | translate}}
                    </ion-select-option>
                  </ion-select>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- Variable content -->

        <!-- User stats -->
        <div *ngIf="statTypeSelection === 'usersStats'">
          <ion-row>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_USERS' | translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.AGE' | translate}}</strong></ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.MEASURES' | translate}}</strong></ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_STEPS' | translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.HABITS' | translate}}</strong></ion-col>
          </ion-row>
          <hr class="solid" />
          <ion-row *ngIf="groupStats">
            <ion-col class="ion-text-center" size="2.4">{{getUsersNumber()}}</ion-col>
            <ion-col class="ion-text-center" size="2.4"></ion-col>
            <ion-col class="ion-text-center" size="2.4"></ion-col>
            <ion-col class="ion-text-center" size="2.4">{{groupStats.numSteps}}</ion-col>
            <ion-col class="ion-text-center" size="2.4"></ion-col>
          </ion-row>
        </div>
        <!-- Challenge stats -->
        <div *ngIf="statTypeSelection === 'challengesStats'">
          <ion-row>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.POINTS' | translate}}</strong></ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.BADGES' | translate}}</strong></ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_CHALLENGES' | translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_COMPLETE_CHALLENGES' |
                translate}}</strong>
            </ion-col>
            <ion-col class="ion-text-center" size="2.4"><strong>{{'STATS.NUMBER_OF_NOT_COMPLETE_CHALLENGES' |
                translate}}</strong>
            </ion-col>
          </ion-row>
          <hr class="solid" />
          <ion-row *ngIf="groupStats">
            <ion-col class="ion-text-center" size="2.4">{{groupStats.points ? groupStats.points : 0}}</ion-col>
            <ion-col class="ion-text-center" size="2.4"></ion-col>
            <ion-col class="ion-text-center" size="2.4">{{getNumberAssignedChallenges()}}</ion-col>
            <ion-col class="ion-text-center" size="2.4">{{getNumberCompletedChallenges()}}</ion-col>
            <ion-col class="ion-text-center" size="2.4">{{getNumberOfNotCompletedChallenges()}}</ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>