capacitor-google-map {
  width: 100%;
  height: 35vh;
  display: inline-block;
}

.map-container {
  margin: auto;
  height: 35vh;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

div.challenge-controls-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  ion-button {
    flex-grow: 1;
  }
}