<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<div>
  <div class="challenge-controls-container">
    <ion-button expand="block" fill="outline" (click)="startTracking()" [disabled]="!challenge.important || !isOnTime || watchId!==undefined">
      {{'VERBS.START'|translate}}
    </ion-button>
    <ion-button expand="block" fill="outline" (click)="stopTracking()" [disabled]="!challenge.important || !isOnTime || watchId===undefined">
      {{'VERBS.PAUSE'|translate}}/{{'VERBS.STOP'|translate}}
    </ion-button>
  </div>


  <!-- use external navigation -->
  <p>{{'CHALLENGE_DETAIL.CHECK_MAP_POSITION' | translate}}</p>
  <ion-button expand="block" fill="outline" (click)="goToMap()" [disabled]="!challenge.important || !isOnTime">
    {{'CHALLENGE_DETAIL.GO_TO_MAP'| translate}}
  </ion-button>

  <!-- user not able to complete this challenge banner-->
  <p *ngIf="!challenge.important">
    <strong>{{'CHALLENGE_DETAIL.USER_CANT_COMPLETE' | translate}}</strong>
  </p>

  <!-- challenge not active yet banner-->
  <p *ngIf="!hasChallengeStarted">
    <strong>{{'CHALLENGE_DETAIL.CHALLENGE_ACTIVE' | translate}} {{challenge.periodStartDatetime
      | date:'longDate':'':locale}}</strong>
  </p>
</div>