ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}

img {
  display: block;
  margin: auto;
  max-height: 300px;
}

.buttons-container {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;

  div {
    .login-button {
      min-height: 100px;
      max-width: 600px;
      font-size: 0.5em;
      margin: 20px auto;

      .button-content {
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        div {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          ion-label {
            font-size: clamp(1em, 2em, 3em);
          }
        }
      }
    }
  }
}