<ion-header *ngIf="users && users.length > 1">
  <ion-toolbar>
    <ion-title>{{'APP_NAME' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="users && users.length > 1">
  <img src="assets/paido-logo.png" alt="">
  <div class="buttons-container">
    <div *ngFor="let user of users">

      <ion-button fill="outline" expand="block" class="login-button" (click)="goHome(user)">
        <div class="button-content">
          <app-user-icon [animal]="getAnimal(user.displayName)" [color]="getColor(user.displayName)" [size]="50"></app-user-icon>
          <div>
            <ion-label class="ion-text-wrap">{{'LOGIN.ENTER_AS' | translate}} {{getRoleTranslationId(user.roles)}}</ion-label>
            <span *ngIf="user.roles.includes('Parent'); else isAChild">
              <ion-label class="ion-text-wrap">{{ user.displayId}}</ion-label>
            </span>
            <ng-template #isAChild>
              <ion-label class="ion-text-wrap">{{user.displayName? translateUsername(user.displayName) : (user['groupName']+' ('+user.displayId+')')}}</ion-label>
            </ng-template>
          </div>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>