<ion-content class="content-container" fullscreen="false">
  <p>{{'PRIVACY_POLICY_MODAL.REJECT.DISCLAIMER'|translate}}</p>
  <p>{{'PRIVACY_POLICY_MODAL.REJECT.RETRY_TEXT'|translate}}</p>
  <div class="ion-text-center">
    <ion-button fill="outline" (click)="retryPolicyAcceptance();">
      <ion-icon name="chevron-back" slot="" start></ion-icon>
      <ion-label>{{'PRIVACY_POLICY_MODAL.REJECT.BUTTON_TEXT'|translate}}</ion-label>
    </ion-button>
  </div>
  <p>{{'PRIVACY_POLICY_MODAL.REJECT.NEXT_APP_RUN'|translate}}</p>
</ion-content>