<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'USER.ADD_USER' | translate }}</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <form [formGroup]="addUserForm">
          <ion-item style="margin-bottom: 20px;" *ngIf="isEmailActive">
            <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
            <ion-input formControlName="email">
            </ion-input>
          </ion-item>
          <ion-label>{{ 'ACTION.SELECT_ROL' | translate }}</ion-label>
          <ion-item lines="none" style="margin-bottom: 20px;">
            <ion-radio-group style="display: inline;" formControlName="roleSelected">
              <ion-item lines="none" *ngFor="let role of roleViews">
                <ion-radio slot="start" [value]="role.value"></ion-radio>
                <ion-label>{{role.name}}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <div *ngIf="!hideUsers">
            <ion-item style="margin-bottom: 20px;">
              <ion-label position="floating">{{ 'USER.FIELDS.STUDENT_CUSTOM_CODE' | translate }}</ion-label>
              <ion-input formControlName="externalId"></ion-input>
            </ion-item>
          </div>
          <div *ngIf="!hideUsers">
            <ion-label>{{ 'ROL.PARENTS' | translate }}</ion-label>
            <ion-item lines="none">
              <ion-radio-group style="display: inline-block;" formControlName="parentSelection">
                <ion-item lines="none">
                  <ion-radio slot="start" [value]="'none'"></ion-radio>
                  <ion-label>{{ 'USER.ADD_CHILD_WITHOUT_PARENTS' | translate }}</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-radio slot="start" [value]="'one'"></ion-radio>
                  <ion-label>{{ 'USER.ADD_CHILD_WITH_PARENT' | translate }}</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-radio slot="start" [value]="'two'"></ion-radio>
                  <ion-label>{{ 'USER.ADD_CHILD_WITH_TWO_PARENT' | translate }}</ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-item>
          </div>
        </form>
        <ion-button expand="full" (click)="addUser()" [disabled]="!addUserForm.valid||creating">{{ 'ACTION.ADD' | translate }}
          <ion-icon *ngIf="creating===false;else creatingSpinner" slot="end" name="save-outline"></ion-icon>
          <ng-template #creatingSpinner>
            <ion-spinner slot="end"></ion-spinner>
          </ng-template>
        </ion-button>
        <div style="margin-top: 40px; display: inline-block;">
          <ion-item lines="none" *ngFor="let user of usersCreated">
            <ion-label>{{ 'USER.ADD_USER_CHILD_PARENT_SUCCESS' | translate }}:
              <span style="font-size: 20px; color: rgb(255, 75, 0);"><strong>{{user.registrationCode}}</strong></span>
              <br />
              {{ 'USER.SINGULAR' | translate }}: <span style="font-size: 20px; color: rgb(255, 75, 0);"><strong>{{user.displayId}}</strong></span> -
              {{getRole(user)}}
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>