<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'USER.USER_LIST' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-row>
          <ion-col sizeXs="6" sizeSm="7" size="8" sizeLg="9" sizeXl="9">
            <ion-searchbar placeholder="{{ 'USER.FIND_USER' | translate }}" (ionChange)="onSearch($event)">
            </ion-searchbar>
          </ion-col>
          <ion-col style="display: flex; justify-content: flex-end;">
            <ion-row style="display: flex; align-items: center;">
              <ion-button (click)="addUser()">
                <ion-icon slot="start" name="add"></ion-icon>{{ 'USER.ADD_USER' | translate }}
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list *ngIf="users.length > 0">
              <ion-item button *ngFor="let user of users" (click)="onUserSelected(user)">
                <ion-label>{{user.displayId}} - {{getRole(user)}} - {{user.email}}</ion-label>
                <ion-buttons slot="end">
                  <ion-button (click)="resendEmail(user); $event.stopPropagation();" color="light" expand="block" fill="solid">
                    <ion-icon slot="start" name="add"></ion-icon>{{ 'USER.RESEND_REGISTRATION_EMAIL' | translate }}
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
            <ion-item lines="none" *ngIf="users.length === 0">
              <ion-label class="ion-text-center">{{ 'USER.NO_USERS_CREATED' | translate }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>