<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'HOME.STAIR' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <div class="ion-activatable" style="display: flex; justify-content: center;">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <app-user-icon class="user-icon" [animal]="animal" [color]="color" [size]="40" [shadow]="false"
          (click)="goToProfile()"></app-user-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid class="user-header">
    <ion-row class="ion-align-items-center">
      <ion-col size="11">
        <ion-label class="label-user">
          {{'HOME.WELCOME' | translate}} {{displayName}}<span class="display-number"
            *ngIf="displayNumber">{{displayNumber}}</span>
        </ion-label>
      </ion-col>
      <ion-col size="1" *ngIf="havePendingChallenges">
        <div class="ion-activatable" id="notification-button" *ngIf="havePendingChallenges"
          (click)="showPendingChallengesAlert()">
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          <ion-icon name="notifications" slot="icon-only"></ion-icon>
          <ion-badge color="danger" id="notifications-badge">{{relativesPendingCount}}</ion-badge>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" *ngIf="showBadgeProgress">
      <ion-col size="10.5">
        <ion-row>
          <span>{{userPoints}} {{'CHALLENGE_DETAIL.POINTS' | translate}}</span>
        </ion-row>
        <ion-row>
          <ion-progress-bar class="points-progress" [value]="pointProgress"></ion-progress-bar>
        </ion-row>
      </ion-col>
      <ion-col size="1.5">
        <ion-row style="padding-top: 6px;" *ngIf="nextBadgeId">
          <img style="max-height: 25px;"
            [src]="challengesUrl + '/badge/' + nextBadgeId + '/image' | authImage | async | safeHtml" alt="" />
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="flex-container">
    <div [style.height.%]="showBadgeProgress ? 30 : 35">
      <circle-progress [percent]="progressPercent" [innerStrokeColor]="innerStrokeColor"
        [outerStrokeColor]="outerStrokeColor">
      </circle-progress>
      <ion-row class="ion-justify-content-center">
        <p>{{progressLabel}}</p>
      </ion-row>
    </div>
    <div class="bottom">
      <div *ngFor="let step of steps" [style.width.%]="step.width" (click)="onStepClick(step)">
        <div class="shadow-step"></div>
        <div class="step-card">
          <div style="width: 100px; height: 100px;"></div>
          <span class="step-text">{{step.name}}</span>
          <div class="wrapper-badge">
            <ion-badge *ngIf="step.pendingCount && step.pendingCount.count" class="badge">{{step.pendingCount.count}}
            </ion-badge>
          </div>
        </div>
      </div>
      <app-help-button></app-help-button>
    </div>
  </ion-grid>
</ion-content>