ion-content {
  --overflow: hidden;
}

.user-header {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.user-data {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 10px;
}

#notification-button {
  position: relative;
  overflow: visible !important;
}

#notifications-badge {
  position: absolute;
  --padding-start: 5px;
  --padding-end: 5px;
  font-size: 0.6em;
  right: -9px;
  top: -6px;
  border-radius: 100%;
}

.points-progress {
  --background: #d8e9eb;
  --progress-background: #64d2dc;
}

.label-user {
  color: orange;
  margin-right: auto;
  padding: 3px;
  font-size: larger;
  text-align: left;
  flex: none;

  .display-number {
    color: gray;
    font-size: 15px;
  }
}

.flex-container {
  height: 90%;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.bottom {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 55%;
}

.shadow-step {
  border-bottom: 12px solid rgba(91, 185, 196, 0.8);
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  height: 0;
}

.step-card {
  height: 40px;
  background: rgb(255, 75, 0);
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 10px grey;
  text-align: center;
}

.step-text {
  color: rgb(100, 255, 255);
  //color: rgb(100, 210, 220);
  font-family: "Ocra", "sans-serif" !important;
  height: 100px;
  width: 100%;
  line-height: 40px;
  font-size: 20px;
}

.wrapper-badge {
  height: 100px;
  width: 100px;
  margin-right: -10px;
  margin-top: -5px;
  text-align: right;
}

.badge {
  --background: rgba(91, 185, 196);
  --color: white;
  padding: 6px;
  border-radius: 100%;
  font-size: 14px;
}