<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'HOME_MENU.RANKING' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="my-info">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="icon-content" size="4">
        <ion-row class="ion-justify-content-center">
          <ion-avatar *ngIf="!animalName && !animalColor">
            <img src="https://icons-for-free.com/iconfiles/png/512/profile+user+icon-1320166082804563970.png" alt="">
          </ion-avatar>
          <ion-icon *ngIf="animalName && animalColor" class="icon" src="{{'assets/' + animalName + '.svg'}}" [style.color]="animalColor"></ion-icon>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-row>
            <ion-label class="label-description">
              {{displayName}}<span class="display-number" *ngIf="displayNumber">{{displayNumber}}</span>
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label *ngIf="ranking && rankingField === 'points'" class="my-points">
              {{ranking.myValue}} {{'RANKING.POINTS' | translate}}
            </ion-label>
            <ion-label *ngIf="ranking && rankingField === 'pointsPercentage'" class="my-points">
              {{ranking.myValue * 100 | number: '1.0-0'}}% {{'RANKING.PERCENTAGE' | translate}}
            </ion-label>
          </ion-row>
        </ion-row>
      </ion-col>
      <ion-col size="2">
        <!-- <ion-label *ngIf="ranking" class="my-position-label">No. {{ranking.myPosition}}</ion-label> -->
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list *ngIf="ranking">
    <ion-row class="ion-align-items-center" style="margin-top: 5px;">
      <ion-col size="8">
        <ion-row class="ion-justify-content-start">
          <ion-item lines="none" style="--padding-start: 0px;">
            <ion-label style="font-weight: bold;">{{'HOME_MENU.RANKING' | translate}}</ion-label>
            <ion-select class="selector-type" cancelText="{{'VERBS.CANCEL' | translate}}" okText="{{'VERBS.SELECT' | translate}}" [value]="rankingType" (ionChange)="filterByType($event)">
              <ion-select-option value="group">{{'RANKING.GROUP' | translate}}</ion-select-option>
              <ion-select-option value="entity">{{'RANKING.ENTITY' | translate}}</ion-select-option>
              <ion-select-option value="global">{{'RANKING.GLOBAL' | translate}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </ion-col>
      <!--
      <ion-col size="4" style="font-size: 12px;">
        <ion-row class="ion-justify-content-end">
          <ion-item class="item-ranking-field" lines="none">
            <ion-label class="label-ranking-field">Por</ion-label>
            <ion-select cancelText="{{'VERBS.CANCEL' | translate}}" okText="{{'VERBS.SELECT' | translate}}" [value]="rankingField" (ionChange)="filterByValue($event)">
              <ion-select-option value="points">{{'RANKING.POINTS' | translate}}</ion-select-option>
              <ion-select-option value="pointsPercentage">{{'RANKING.PERCENTAGE' | translate}}agsr</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </ion-col>
      -->
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="3" class="col-item-list">
        <ion-label class="ion-text-center" style="font-size: 12px;">{{'RANKING.POSITION' | translate}}</ion-label>
      </ion-col>
      <ion-col size="6" class="col-item-list">
        <ion-label class="ion-text-center" style="font-size: 12px;">{{'RANKING.USER' | translate}}</ion-label>
      </ion-col>
      <ion-col size="3" class="col-item-list">
        <ion-label *ngIf="rankingField === 'points'" class="ion-text-center" style="font-size: 12px;">
          {{'RANKING.POINTS' | translate}}
        </ion-label>
        <ion-label *ngIf="rankingField === 'pointsPercentage'" class="ion-text-center" style="font-size: 12px;">
          {{'RANKING.PERCENTAGE' | translate}}
        </ion-label>
      </ion-col>
    </ion-row>
    <div *ngFor="let topUser of ranking.topUsers | slice:0:5; let i = index">
      <div [ngClass]="ranking.myPosition === (i+1) ? 'my-position' : 'item-list'">
        <ion-row class="ion-align-items-center" style="padding: 5px;">
          <ion-col size="3" class="col-item-list">
            <ion-label class="ion-text-center">{{i+1}}</ion-label>
          </ion-col>
          <ion-col size="6" class="col-item-list">
            <ion-label class="ion-text-center" style="font-size: 18px;">{{topUser.name ? topUser.name : '-'}}
            </ion-label>
          </ion-col>
          <ion-col size="3" class="col-item-list">
            <ion-label *ngIf="rankingField === 'points'" class="ion-text-center">
              {{topUser.value ? topUser.value : 0}}
            </ion-label>
            <ion-label *ngIf="rankingField === 'pointsPercentage'" class="ion-text-center">
              {{(topUser.value ? (topUser.value * 100) : 0) | number: '1.0-0'}}%
            </ion-label>
          </ion-col>
        </ion-row>
        <hr class="solid" />
      </div>
    </div>
    <ion-item lines="none" class="ion-text-center" style="font-size: 12px;">
      <ion-label>{{ranking.totalUsers}} {{'RANKING.USERS' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>