<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'ENTITIES.ADD_ENTITY' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" style="margin-top: 20px;">
        <form [formGroup]="addEntityForm">
          <ion-label>{{'ENTITIES.ENTITY_FIELDS' | translate}}</ion-label>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">{{ 'ENTITIES.FIELDS.ENTITY_NAME' | translate }}:</ion-label>
                <ion-input formControlName="name"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item lines="none" *ngIf="name?.dirty &&name?.invalid   && !isSubmitted">
            <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
            <ion-label color="danger" style="font-size: 11px;">
              {{ 'ERRORS.ENTITY_NAME_REQUIRED' | translate }}
            </ion-label>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">{{ 'ENTITIES.FIELDS.ENTITY_ACRONYM' | translate }}:</ion-label>
                <ion-input formControlName="acronym"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item lines="none" *ngIf="acronym?.dirty&&acronym?.invalid  && !isSubmitted">
            <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
            <ion-label color="danger" style="font-size: 11px;">
              {{ 'ERRORS.ENTITY_ACRONYM_REQUIRED' | translate }}
            </ion-label>
          </ion-item>
          <ion-row>
            <ion-col>
              <div style="display: inline-flex;">
                <ion-item lines="none">
                  <ion-label>{{ 'ENTITIES.FIELDS.ENTITY_TYPE' | translate }}:</ion-label>
                  <ion-radio-group style="display: inline-flex;" formControlName="entityType">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="school" mode="android"></ion-radio>
                      <ion-label>{{ 'ENTITIES.SCHOOL' | translate }}</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-radio slot="start" value="clinic" mode="android"></ion-radio>
                      <ion-label>{{ 'ENTITIES.CLINIC' | translate }}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
          <ion-item lines="none" *ngIf="entityType?.dirty&&entityType?.invalid&& !isSubmitted">
            <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
            <ion-label color="danger" style="font-size: 11px;">
              {{ 'ERRORS.ENTITY_TYPE_REQUIRED' | translate }}
            </ion-label>
          </ion-item>
          <div style="margin-top: 20px;">
            <ion-label>{{'ENTITIES.FIELDS.LOCATION' | translate}}</ion-label>
            <ion-item>
              <ion-label position="floating">{{'ENTITIES.FIELDS.COD_POSTAL' | translate}}:</ion-label>
              <ion-input formControlName="postalCode"></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="postalCode?.invalid && postalCode?.dirty && !isSubmitted">
              <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
              <ion-label color="danger" style="font-size: 11px;">
                {{ 'ERRORS.ENTITY_POSTAL_REQUIRED' | translate }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{'ENTITIES.FIELDS.COUNTRY' | translate}}:</ion-label>
              <ionic-selectable placeholder="{{ 'ENTITIES.SELECT_COUNTRY' | translate }}" [(items)]="countries"
                [canSearch]="true" [isMultiple]="false"
                searchFailText="{{ 'ERRORS.DIDACTIC_UNIT_NOT_FOUND' | translate }}"
                clearButtonText="{{ 'ACTION.CANCEL' | translate }}" [canClear]="true"
                searchPlaceholder="{{ 'ACTION.FIND' | translate }}" closeButtonText="{{ 'ACTION.CLOSE' | translate }}"
                closeButtonSlot="end" formControlName="country">
              </ionic-selectable>
            </ion-item>
            <ion-item lines="none" *ngIf="country?.invalid && country?.dirty && !isSubmitted">
              <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
              <ion-label color="danger" style="font-size: 11px;">
                {{ 'ERRORS.ENTITY_COUNTRY_REQUIRED' | translate }}
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{'ENTITIES.SELECT_LOCATION' | translate}}</ion-label>
            </ion-item>
            <ion-searchbar debounce="500" placeholder="{{'ACTION.SEARCH_BY_ADDRESS' | translate}}"
              (ionChange)="onAddressChange($event)" (ionClear)="onAddressClear()"></ion-searchbar>
            <ion-list>
              <ion-item button="true" *ngFor="let address of currentAddressList" (click)="onSelectAddress(address)">
                <ion-label>{{address?.display_name}}</ion-label>
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
              </ion-item>
            </ion-list>
            <ion-item lines="none" *ngIf="!markerPosition && !isSubmitted">
              <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
              <ion-label color="danger" style="font-size: 11px;">
                {{ 'ERRORS.ENTITY_LOCATION_REQUIRED' | translate }}
              </ion-label>
            </ion-item>
            <div id="mapForm" leaflet [leafletOptions]="leafletOptions" [leafletLayers]="leafletLayers"
              (leafletMapReady)="onMapReady($event)"></div>
          </div>
          <ion-row style="margin-top: 20px;">
            <ion-col>
              <ion-button expand="full" (click)="addEntity()" [disabled]="!addEntityForm.valid">
                <ion-icon slot="start" name="add"></ion-icon>{{ 'ENTITIES.ADD_ENTITY' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>