<div class="full-width" style="display: flex;">
  <app-survey-creator-question-editor *ngIf="questionSelected; else questionList" (back)="onEditFinish($event)"
    (contentChange)="onQuestionEdit($event)" (deleteChange)="onDelete($event)" [question]="questionToEdit"
    class="full-width"></app-survey-creator-question-editor>
  <ng-template #questionList>
    <app-survey-creator-question-list [surveyPage]="currentPage" (questionSelect)="onQuestionToEditSelect($event)"
      (pageChange)="onPageChange($event)" class="full-width"></app-survey-creator-question-list>
  </ng-template>
</div>