.full-width {
  flex-grow: 1;
}

// In case it will be needed in the future

/* .tab-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  overflow-x: auto;

  height: 50px;
  width: 100%;

  // tmp properties
  background-color: blue;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tab {
  flex: 1 0 auto;

  border-right: 3px red solid;

  // Text align
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  padding-left: 10px;
  padding-right: 10px;

  // tmp properties
  background-color: yellow;
  // width: 60px;
}

.tab-add {
  order: 99;
}

.add-icon {
  font-size: 36px;
} */
