<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let option of options" size="12" sizeSm="6" sizeLg="4" sizeXl="3">
        <ion-button expand="block" [routerLink]="option.url">
          <ion-icon slot="start" [name]="option.icon"></ion-icon>
          {{option.name}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>