<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'CHALLENGES.PROGRAMMING_LIST' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="10" sizeMd="5" offset="1">
        <ion-button expand="block" [routerLink]="assingDidacticUnitUrl">
          <ion-icon slot="start" name="add"></ion-icon>{{ 'DIDACTIC_UNIT.PROGRAMMING_UNIT' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="10" sizeMd="5" offset="1" offsetMd="0">
        <ion-button expand="block" [routerLink]="assingChallengeUrl">
          <ion-icon slot="start" name="add"></ion-icon>{{ 'CHALLENGES.CREATE_NEW_PROGRAMMING' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-row>
          <ion-col>
            <ion-label>{{ 'CHALLENGES.ACTION.SELECT_OPTION_FOR_FILTER_CHALLENGE_LIST' | translate }}</ion-label>
            <app-assign-to (changed)="assignToComponentChange($event)" [canEdit]="false">
            </app-assign-to>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-searchbar placeholder="{{ 'CHALLENGES.FIND_CHALLENGE' | translate }}" (ionChange)="onSearch($event)">
            </ion-searchbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-segment value="todos" (ionChange)="onLockDownChanged($any($event))">
              <ion-segment-button value="todos">
                <ion-label>{{ 'ACTION.ALL' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="lockDown">
                <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_COMPATIBLE' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="noLockDown">
                <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_NO_COMPATIBLE' | translate }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ionic-selectable placeholder="{{ 'DIDACTIC_UNIT.FILTER_BY_DIDACTIC_UNIT' | translate }}"
              [(ngModel)]="selectedDidacticUnits" [(items)]="allDidacticUnits" itemValueField="id" itemTextField="name"
              [canSearch]="true" [isMultiple]="true" searchFailText="{{ 'ERRORS.DIDACTIC_UNIT_NOT_FOUND' | translate }}"
              clearButtonText="{{ 'ACTION.CANCEL' | translate }}" [canClear]="true"
              searchPlaceholder="{{ 'ACTION.FIND' | translate }}" confirmButtonText="{{ 'ACTION.SELECT' | translate }}"
              closeButtonText="{{ 'ACTION.CLOSE' | translate }}" addButtonText="{{ 'ACTION.CREATE' | translate }}"
              closeButtonSlot="end" (onChange)="onSelectDidacticUnits()">
              <ng-template ionicSelectableValueTemplate let-units="value">
                <div class="ionic-selectable-value-item">
                  {{formatDidacticUnits(units)}}
                </div>
              </ng-template>
            </ionic-selectable>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list *ngIf="challengeProgrammings.length > 0">
              <ion-item style="margin-bottom: 10px;" button="true" *ngFor="let challenge of challengeProgrammings"
                (click)="onChallengeSelected(challenge)">
                <ion-col>
                  <ion-row>
                    <ion-label style="font-size: 18px;"><strong>{{challenge.title}}</strong></ion-label>
                  </ion-row>
                  <ion-row style="margin-top: 10px;">
                    <ion-label style="font-size: 14px;">
                      <span>
                        {{ 'CHALLENGES.FIELDS.START_DATE' | translate }}:
                        {{challenge.startDatetime | date: 'dd/MM/yyyy'}} - {{ 'CHALLENGES.FIELDS.END_DATE' | translate
                        }}:
                        {{challenge.finishDatetime | date: 'dd/MM/yyyy'}}
                      </span>
                    </ion-label>
                  </ion-row>
                </ion-col>
                <ion-buttons slot="end">
                  <ion-button>
                    <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
            <ion-item lines="none" *ngIf="challengeProgrammings.length === 0">
              <ion-label class="ion-text-center">{{ 'CHALLENGES.NO_PROGRAMMING_CREATED' | translate }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>