<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'CHALLENGES.DEFINITION_LIST' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="block" [routerLink]="addChallengeUrl">
          <ion-icon slot="start" name="add"></ion-icon>{{ 'CHALLENGES.CREATE_NEW_DEFINITION' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-row>
          <ion-col>
            <ion-searchbar placeholder="{{ 'CHALLENGES.FIND_CHALLENGE' | translate }}"
              (ionChange)="onSearch($any($event))">
            </ion-searchbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-segment value="todos" (ionChange)="onLockDownChanged($any($event))">
              <ion-segment-button value="todos">
                <ion-label>{{ 'ACTION.ALL' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="lockDown">
                <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_COMPATIBLE' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="noLockDown">
                <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_NO_COMPATIBLE' | translate }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ionic-selectable placeholder="{{ 'DIDACTIC_UNIT.FILTER_BY_DIDACTIC_UNIT' | translate }}"
              [(ngModel)]="selectedDidacticUnits" [(items)]="allDidacticUnits" itemValueField="id" itemTextField="name"
              [canSearch]="true" [isMultiple]="true" searchFailText="{{ 'ERRORS.DIDACTIC_UNIT_NOT_FOUND' | translate }}"
              clearButtonText="{{ 'ACTION.CANCEL' | translate }}" [canClear]="true"
              searchPlaceholder="{{ 'ACTION.FIND' | translate }}" confirmButtonText="{{ 'ACTION.SELECT' | translate }}"
              closeButtonText="{{ 'ACTION.CLOSE' | translate }}" addButtonText="{{ 'ACTION.CREATE' | translate }}"
              closeButtonSlot="end" (onChange)="onSelectDidacticUnits()">
              <ng-template ionicSelectableValueTemplate let-units="value">
                <div class="ionic-selectable-value-item">
                  {{formatDidacticUnits(units)}}
                </div>
              </ng-template>
            </ionic-selectable>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list *ngIf="challengeDefinitions.length > 0">
              <ion-item button="true" *ngFor="let challenge of challengeDefinitions"
                (click)="onChallengeSelected(challenge)">
                <ion-label>{{challenge.title}}</ion-label>
                <ion-button (click)="editChallenge(challenge); $event.stopPropagation();">
                  <ion-icon name="create" slot="start"></ion-icon>{{ 'ACTION.EDIT' | translate }}
                </ion-button>
                <ion-button (click)="deleteChallenge(challenge); $event.stopPropagation();">
                  <ion-icon name="trash" slot="start"></ion-icon>{{ 'ACTION.DELETE' | translate }}
                </ion-button>
              </ion-item>
            </ion-list>
            <ion-item lines="none" *ngIf="challengeDefinitions.length === 0">
              <ion-label class="ion-text-center">{{ 'CHALLENGES.NO_DEFINITION_CREATED' | translate }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>