<p>
  new screen works
</p>
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Edit Admin</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <div *ngIf="user">
          <ion-item>
            <ion-label>User: blabla123</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'USER.FIELDS.USER_ID' | translate }}: {{user.displayId}}</ion-label>
            <ion-input *ngIf="user.roles.includes('Child')" [(ngModel)]="user.externalId"
              placeholder="{{ 'USER.FIELDS.STUDENT_CUSTOM_CODE' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'ROL.SINGULAR' | translate }}: {{getRole()}}</ion-label>
          </ion-item>
          
          <ion-button (click)="saveUser()" style="margin-top: 20px;" expand="full">{{ 'ACTION.SAVE' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>