<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button (click)="openHelp()">
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    <img id="help-img" src="assets/help-image.png" alt="">
  </ion-fab-button>
  <span id="help-label">{{'HOME.NEED_HELP' | translate}}</span>
</ion-fab>