<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'USER.ASSIGNED_USER_LIST' | translate }}</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-list>
          <ion-item *ngFor="let obj of userChallengesChecks">
            <ion-label>{{ 'USER.SINGULAR' | translate }}: {{obj.challenge.displayName}}</ion-label>
            <ion-button style="z-index: 100;" slot="end" *ngIf="canCompleteChallenge(obj.challenge)"
              (click)="completeChallenge(obj.challenge)">
              <ion-icon name="checkmark" slot="start"></ion-icon>
              <ion-label>{{ 'CHALLENGES.COMPLETE_CHALLENGE' | translate }}</ion-label>
            </ion-button>
            <ion-checkbox slot="end" *ngIf="canCancelChallenge(obj.challenge)" [(ngModel)]="obj.checked"></ion-checkbox>
          </ion-item>
        </ion-list>

        <ion-button (click)="cancelChallenge()" [disabled]="!canCancelAny">
          <ion-label>{{ 'CHALLENGES.DEASSIGN_CHALLENGE' | translate }}</ion-label>
        </ion-button>

        <ion-item lines="none" *ngIf="!canCancelAny && userChallengesChecks.length > 0">
          <ion-label class="ion-text-center">{{ 'CHALLENGES.CHALLENGE_ALREADY_FINISHED_OR_COMPLETED_FOR_ALL' | translate
            }}</ion-label>
        </ion-item>

        <ion-item lines="none" *ngIf="userChallengesChecks.length === 0">
          <ion-label class="ion-text-center">{{ 'USER.NO_USERS_ASSIGNED' | translate }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>