/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Ocra";
  src: url(./assets/fonts/ocra.ttf);
}

@font-face {
  font-family: "DinPro";
  src: url(./assets/fonts/DINPro-Light.otf);
}

@font-face {
  font-family: "DinAlternate";
  src: url(./assets/fonts/DINAlternate-Bold.ttf);
}

ion-button {
  //--background: var(--ion-color-primary);
  //--background-hover: rgb(110, 229, 240);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
span,
p {
  color: rgb(0, 0, 0);
}

ion-title {
  font-size: 20px;
}

ion-radio {
  //--color-checked: rgb(100, 210, 220);
}

ion-alert {
  button {
    span {
      font-size: 16px !important;
    }
  }
}

.privacy-modal {
  .modal-wrapper {
    position: absolute;
    display: block;
    height: 80%;
    width: 80%;
  }
}

.completion-modal {
  .alert-wrapper {
    .alert-head {
      .alert-title {
        font-weight: bold;
      }

      .alert-sub-title {
        color: rgb(255, 75, 0) !important;
        font-weight: bold;
      }
    }
  }
}