<form [formGroup]="challengeForm">
  <!-- Challenge name -->
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">{{'CHALLENGES.FIELDS.NAME'|translate}}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="(name?.invalid && name?.errors?.['required']) && isSubmitted">
        <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
        <ion-label color="danger" style="font-size: 11px;">
          {{'ERRORS.NAME_REQUIRED'|translate}}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- Challenge description -->
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">{{'CHALLENGES.FIELDS.DESCRIPTION'|translate}}</ion-label>
        <ion-textarea formControlName="description" autoGrow="true" style="max-height: 150px;"></ion-textarea>
      </ion-item>
      <ion-item lines="none" *ngIf="(description?.invalid && description?.errors?.['required']) && isSubmitted">
        <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
        <ion-label color="danger" style="font-size: 11px;">
          {{'ERRORS.DESCRIPTION_REQUIRED'|translate}}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- Challenge explanation -->
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">{{'CHALLENGES.FIELDS.EXPLANATION'|translate}}</ion-label>
        <ion-textarea formControlName="explanation" autoGrow="true" style="max-height: 150px;"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- Challenge periodicity metadata -->
  <ion-row>
    <ion-list>
      <ion-list-header>
        <span style="display: inline-flex; align-items: center;">{{'CHALLENGES.FIELDS.CHALLENGE_PERIOD'|translate}}
          <ion-icon name="help-circle" style="margin-left: 5px;" (click)="showInfoPeriod()"></ion-icon>
        </span>
      </ion-list-header>
      <ion-radio-group style="display: inline-flex;" formControlName="periodSelected">
        <ion-item lines="none">
          <ion-radio slot="start" value="false" checked="true"></ion-radio>
          <ion-label>{{'CHALLENGES.FIELDS.WITHOUT_PERIOD'|translate}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio slot="start" value="true"></ion-radio>
          <ion-label>{{'CHALLENGES.FIELDS.WITH_PERIOD'|translate}}</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-row>

  <!-- challenge periodicity setup -->
  <ion-row *ngIf="periodSelected?.value === 'true'">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{'CHALLENGES.FIELDS.PERIOD_IN_DAYS'|translate}}</ion-label>
          <ion-input #period type="number" inputmode="numeric" min="1" formControlName="periodDays"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="period.value">
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{'CHALLENGES.FIELDS.PERIOD_AMOUNT_TO_COMPLETE'|translate}}</ion-label>
          <ion-input type="number" inputmode="numeric" min="1" formControlName="periodAmount"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-row>

  <!-- Challenge category-->
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-list-header>
          <ion-label>{{ 'CHALLENGES.FIELDS.CATEGORY' | translate}}</ion-label>
        </ion-list-header>
        <ion-radio-group style="display: inline-flex;" (ionChange)="onCategorySelected($event)" formControlName="categorySelected">
          <ion-item lines="none" *ngFor="let category of categories">
            <ion-radio slot="start" [value]="category"></ion-radio>
            <ion-label>{{ ('CHALLENGES.CATEGORY.'+category) | uppercase | translate }}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-item lines="none" *ngIf="!challengeForm.value.categorySelected && isSubmitted">
        <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
        <ion-label color="danger" style="font-size: 11px;">
          {{ 'ERRORS.CATEGORY_REQUIRED' | translate}}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- Challenge subcategory -->
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-list-header>
          <ion-label>{{ 'CHALLENGES.FIELDS.SUBCATEGORY' | translate}}</ion-label>
        </ion-list-header>
        <ion-radio-group style="display: inline-flex;" (ionChange)="onSubcategorySelected($event)" formControlName="subcategorySelected">
          <ion-item lines="none" *ngFor="let subcategory of subcategories">
            <ion-radio slot="start" [value]="subcategory"></ion-radio>
            <ion-label>{{ ('CHALLENGES.SUBCATEGORY.'+subcategory) | uppercase | translate }}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-item lines="none" *ngIf="!challengeForm.value.subcategorySelected && isSubmitted">
        <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
        <ion-label color="danger" style="font-size: 11px;">
          {{ 'ERRORS.SUBCATEGORY_REQUIRED' | translate}}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- Challenge assigned to -->
  <ion-row *ngIf="challengeForm.value.subcategorySelected">
    <ion-col>
      <ion-list>
        <ion-list-header>{{ 'CHALLENGES.FIELDS.ASSIGNED_TO' | translate}}</ion-list-header>
        <ion-radio-group #assignedFor style="display: inline-flex;" (ionChange)="onAssignedForSelected($event)" formControlName="assignedFor">
          <ion-item lines="none">
            <ion-radio slot="start" value="parent"></ion-radio>
            <ion-label>{{ 'ROL.PARENTS' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio slot="start" value="child"></ion-radio>
            <ion-label>{{ 'ROL.CHILDS' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio slot="start" value="both"></ion-radio>
            <ion-label>{{ 'ACTION.BOTH' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio slot="start" value="anyone"></ion-radio>
            <ion-label>{{ 'ACTION.ANYONE' | translate }}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-item lines="none" *ngIf="!assignedForSelected && isSubmitted">
        <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
        <ion-label color="danger" style="font-size: 11px;">
          {{ 'ERRORS.CHALLENGE_MUST_BE_ASSIGNED_FOR' | translate }}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- Challenge score points -->
  <ion-row>
    <ion-col *ngIf="assignedForSelected === 'parent' || assignedForSelected === 'both'">
      <ion-item>
        <ion-label position="floating">{{ 'CHALLENGES.FIELDS.SCORE_FOR_PARENT' | translate }}</ion-label>
        <ion-input type="number" inputmode="numeric" min="1" formControlName="parentPoints"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col *ngIf="assignedForSelected === 'child' || assignedForSelected === 'both'">
      <ion-item>
        <ion-label position="floating">{{ 'CHALLENGES.FIELDS.SCORE_FOR_CHILD' | translate }}</ion-label>
        <ion-input type="number" inputmode="numeric" min="1" formControlName="childrenPoints"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col *ngIf="assignedForSelected === 'anyone'">
      <ion-item>
        <ion-label position="floating">{{ 'CHALLENGES.FIELDS.SCORE' | translate }}</ion-label>
        <ion-input type="number" inputmode="numeric" min="1" formControlName="anyonePoints"></ion-input>
      </ion-item>
    </ion-col>
    <ion-row>
      <ion-item lines="none" *ngIf="checkHaveInputPoints() && isSubmitted">
        <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
        <ion-label color="danger" style="font-size: 11px;">
          {{ 'CHALLENGES.FIELDS.ASSIGN_SCORE_AMOUNT' | translate }}
        </ion-label>
      </ion-item>
    </ion-row>
  </ion-row>

  <!-- Challenge lockdown compatibility -->
  <ion-row>
    <ion-list>
      <ion-list-header>
        <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_SITUATION_COMPATIBLE' | translate }}</ion-label>
      </ion-list-header>
      <ion-radio-group formControlName="lockDown" style="display: inline-flex;">
        <ion-item lines="none">
          <ion-radio slot="start" value="true"></ion-radio>
          <ion-label>{{ 'ACTION.YES' | translate }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio slot="start" value="false"></ion-radio>
          <ion-label>{{ 'ACTION.NO' | translate }}</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-row>

  <!-- Challenge age range -->
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">{{ 'CHALLENGES.FIELDS.MIN_AGE' | translate }}</ion-label>
        <ion-input type="number" inputmode="numeric" min="1" formControlName="minAge"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="(minAge?.invalid && minAge?.errors?.['required']) && isSubmitted">
        <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
        <ion-label color="danger" style="font-size: 11px;">
          {{ 'ERRORS.MIN_AGE_REQUIRED' | translate }}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating">{{ 'CHALLENGES.FIELDS.MAX_AGE' | translate }}</ion-label>
        <ion-input type="number" inputmode="numeric" min="1" formControlName="maxAge"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="(maxAge?.invalid && maxAge?.errors?.['required']) && isSubmitted">
        <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
        <ion-label color="danger" style="font-size: 11px;">
          {{ 'ERRORS.MAX_AGE_REQUIRED' | translate }}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- ??? -->
  
  <ion-row *ngIf="!onChallengeSelected">
    <ion-col>
      <ion-item lines="none">
        <ion-label>{{ 'CHALLENGES.FIELDS.TYPE' | translate }}</ion-label>
        <ion-select placeholder="{{ 'ACTION.SELECT' | translate }}" (ionChange)="onTypeSelected($event)" formControlName="typeSelected" >
          <ion-select-option *ngFor="let item of typeChallenges | keyvalue" [value]="item.key">
            {{item.value}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- ??? -->
  <ion-row *ngIf="onChallengeSelected" style="margin-top: 20px;">
    <ion-item lines="none">
      <ion-label>{{ 'CHALLENGES.FIELDS.TYPE' | translate }}: <strong>{{ ('CHALLENGES.TYPE.'+challengeSelected?.type) |
          uppercase | translate }}</strong></ion-label>
    </ion-item>
  </ion-row>

  <!-- Challenge type specific contents  -->
  <ion-row>
    <ion-col *ngIf="challengeForm.value.typeSelected" [ngSwitch]="challengeForm.value.typeSelected">
      <!-- type physical -->
      <ion-item *ngSwitchCase="'physical'">
        <ion-label position="floating">{{ 'CHALLENGES.FIELDS.STEPS_TO_COMPLETE' | translate }}</ion-label>
        <ion-input type="number" inputmode="numeric" min="1" formControlName="steps"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="challengeForm.value.typeSelected === 'physical' && !steps?.value && isSubmitted">
        <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
        <ion-label color="danger" style="font-size: 11px;">
          {{ 'ERRORS.STEPS_TO_COMPLETE_REQUIRED' | translate }}
        </ion-label>
      </ion-item>
      <!-- type authority -->
      <div *ngSwitchCase="'authority'">
        <ion-list>
          <div style="display: inline-flex;">
            <ion-item lines="none">
              <ion-label>{{ 'CHALLENGES.FIELDS.RELATION_WITH_CHILD' | translate }}:</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-checkbox slot="start" formControlName="relationParentsSelected" [disabled]="specificIdsSelected">
              </ion-checkbox>
              <ion-label>{{ 'ROL.PARENTS' | translate }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-checkbox slot="start" formControlName="relationTeachersSelected" [disabled]="specificIdsSelected">
              </ion-checkbox>
              <ion-label>{{ 'ROL.TEACHERS_CLINICIANS' | translate }}</ion-label>
            </ion-item>
          </div>
        </ion-list>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'CHALLENGES.FIELDS.WHO_AUTH' | translate }}</ion-label>
            <ionic-selectable formControlName="specificIds" placeholder="{{ 'ACTION.SELECT' | translate }}" [items]="users" itemValueField="id" itemTextField="description" [canSearch]="true" [isMultiple]="true" searchFailText="{{ 'ERRORS.USER_NOT_FOUND' | translate }}" [canClear]="true" searchPlaceholder="{{ 'ACTION.FIND' | translate }}" clearButtonText="{{ 'ACTION.DELETE' | translate }}" closeButtonText="{{ 'ACTION.CANCEL' | translate }}" closeButtonSlot="end" (onChange)="onSelectSpecificIds()" [(ngModel)]="selectedUsers">
              <ng-template ionicSelectableValueTemplate let-users="value">
                <div class="ionic-selectable-value-item">
                  {{formatUsers(users)}}
                </div>
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-item lines="none" *ngIf="challengeForm.value.typeSelected === 'authority' &&
                  (!relationParentsSelected?.value && !relationTeachersSelected?.value && !specificIdsSelected)
                   && isSubmitted">
          <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
          <ion-label color="danger" style="font-size: 11px;">
            {{ 'CHALLENGES.FIELDS.SELECT_WHO_AUTH' | translate }}
          </ion-label>
        </ion-item>
      </div>
      <!-- type gps -->
      <div *ngSwitchCase="'gps'">
        <ion-item lines="none" *ngIf="challengeForm.value.typeSelected === 'gps' && !challengeGpsLocation && isSubmitted">
          <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
          <ion-label color="danger" style="font-size: 11px;">
            {{ 'CHALLENGES.ACTION.MAP_CHOOSE_ZONE' | translate }}
          </ion-label>
        </ion-item>
        <ion-searchbar debounce="500" placeholder="{{'ACTION.SEARCH_BY_ADDRESS' | translate}}" (ionChange)="onAddressChange($event)" (ionClear)="onAddressClear()"></ion-searchbar>
        <ion-list>
          <ion-item button="true" *ngFor="let address of currentAddressList" (click)="onSelectAddress(address)">
            <ion-label>{{address?.display_name}}</ion-label>
            <ion-icon name="arrow-forward" slot="end" (click)="onSelectAddress(address)"></ion-icon>
          </ion-item>
        </ion-list>
        <div id="mapForm" leaflet [leafletOptions]="leafletOptions" [leafletLayers]="leafletLayers" (leafletMapReady)="onMapReady($event)"></div>
      </div>
      <!-- type questionnaire -->
      <div *ngSwitchCase="'questionnaire'">
        <ion-item lines="none" *ngIf="challengeForm.value.typeSelected === 'questionnaire' && !questionnaireJson && isSubmitted">
          <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
          <ion-label color="danger" style="font-size: 11px;">
            {{ 'CHALLENGES.ACTION.ADD_QUESTIONNAIRE' | translate }}
          </ion-label>
        </ion-item>
        <ion-card>
          <app-survey-creator (surveyChange)="onSurveyChange($event)" [surveyJson]="questionnaireJson">
          </app-survey-creator>
          <ion-button *ngIf="questionnaireJson" expand="full" style="margin: 10px;" (click)="onPreviewSelected()">
            {{surveyPreviewText}}
          </ion-button>
          <app-survey *ngIf="isShowingPreview && questionnaireJson" [json]="questionnairePreviewJson" [data]="questionnaireCorrectAnswer" (result)="onSurveyCompleted($event)">
          </app-survey>
        </ion-card>
      </div>
      <!-- type news -->
      <div *ngSwitchCase="'news'">
        <ion-row>
          <ion-col>
            <ion-item lines="none" *ngIf="challengeForm.value.typeSelected === 'news' && !newsValue && isSubmitted">
              <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
              <ion-label color="danger" style="font-size: 11px;">
                {{ 'CHALLENGES.ACTION.ADD_NEWS' | translate }}
              </ion-label>
            </ion-item>
            <div>
              <app-news-editor [(content)]="newsValue" placeholder="{{'CHALLENGES.ACTION.INSERT_TEXT_HERE'|translate}}" (contentChange)="onChallengeChange()"></app-news-editor>
            </div>
            <ion-item lines="none">
              <ion-checkbox slot="start" formControlName="newsHaveQuestionnaire" (ionChange)="onNewsQuestionnaireChecked($event)"></ion-checkbox>
              <ion-label>{{ 'CHALLENGES.ACTION.INCLUDE_QUESTIONNAIRE_AFTER_READ_NEWS' | translate }}</ion-label>
            </ion-item>
            <div *ngIf="newsQuestionnaireSelected">
              <ion-item lines="none" *ngIf="challengeForm.value.typeSelected === 'news' && !questionnaireJson  && newsHaveQuestionnaire && isSubmitted">
                <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;">
                </ion-icon>
                <ion-label color="danger" style="font-size: 11px;">
                  {{'CHALLENGES.ACTION.ADD_QUESTIONNAIRE' | translate}}
                </ion-label>
              </ion-item>
              <ion-card>
                <app-survey-creator (surveyChange)="onSurveyChange($event)" [surveyJson]="questionnaireJson">
                </app-survey-creator>
                <ion-button *ngIf="questionnaireJson" expand="full" style="margin: 10px;" (click)="onPreviewSelected()">
                  {{surveyPreviewText}}
                </ion-button>
                <app-survey *ngIf="isShowingPreview && questionnaireJson" [json]="questionnaireJson" [data]="questionnaireCorrectAnswer" (result)="onSurveyCompleted($event)">
                </app-survey>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</form>