<!-- General category -->
<ion-list>
  <ion-list-header lines="full">{{ 'GENERAL' | translate | uppercase }}</ion-list-header>
  <ion-item>
    <ion-label class="form-label" position="floating">{{ 'NAME' | translate }}:</ion-label>
    <ion-input type="text" [(ngModel)]="question.name" (ionChange)="onContentChange($event)" name="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="form-label" position="floating">{{ 'DESCRIPTION' | translate }}:</ion-label>

    <ion-textarea [(ngModel)]="question.description" (ionChange)="onContentChange($event)" name="description" auto-grow>
    </ion-textarea>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="form-label">{{ 'ACTION.IS_REQUIRED_QUESTION' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="question.isRequired" (ionChange)="onContentChange($event)" name="isRequired" slot="start">
    </ion-toggle>
  </ion-item>
</ion-list>

<!-- Opciones category -->
<ion-list>
  <ion-list-header>
    {{ 'ACTION.OPTIONS' | translate | uppercase }}
    <ion-button (click)="onAddChoice()" style="margin-right: 10px">
      Añadir una opción adicional
    </ion-button>
  </ion-list-header>

  <ion-item-group>
    <ng-container *ngFor="let choice of question.choices; index as i">
      <ion-item lines="none">
        <ion-item class="full-width" id="{{ 'choice' + i }}">
          <ion-input [value]="choice.value" (ionChange)="onChoiceChange($event, i)">
          </ion-input>
        </ion-item>

        <ion-button color="danger" slot="end" size="medium"
          (mouseenter)="onDeleteButtonMouseenter({ event: $event, id: 'choice' + i })"
          (mouseleave)="onDeleteButtonMouseleave({ event: $event, id: 'choice' + i })"
          (click)="onDeleteButtonClick(choice)" class="no-margin-bottom">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
  </ion-item-group>
</ion-list>