<ion-content>
  <ion-grid class="entities">
    <ion-col style="display: flex; justify-content: flex-end;">
      <ion-row style="display: flex; align-items: center;">
        <ion-button class="ion-text-center" (click)="addEntity()" *ngIf="isAddVisible">
          <ion-icon slot="start" name="add"></ion-icon>{{ 'ENTITIES.ADD_ENTITY' | translate }}
        </ion-button>
      </ion-row>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-item lines="none" *ngIf="entities.length === 0">
          <ion-label class="ion-text-center">{{ 'ENTITIES.NO_ENTITIES_CREATED' | translate }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="entities">
      <ion-col class="entities" size="12" sizeSm="6" sizeLg="4" sizeXl="3" *ngFor="let entity of entities">
        <ion-button style="height: 100%;" id="entity" expand="block" (click)="onEntitySelected(entity)">
          <ion-icon style="font-size: 400%;" slot="start"
            [name]="entity.type === 'school' ? 'book-outline' : 'medkit-outline'">
          </ion-icon> {{entity.name}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>