<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-header>
          <ion-toolbar>
            <ion-title *ngIf="group" class="ion-text-center">
              {{ 'GROUPS.GROUP_DETAILS' | translate }}: {{group.name}}
            </ion-title>
            <ion-title *ngIf="!group" class="ion-text-center"> {{'GROUPS.UNASSIGNED' | translate}}</ion-title>
            <ion-buttons *ngIf="group" slot="end">
              <ion-button (click)="modifyGroup()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-row>
          <ion-col [size]="group ? '9' : '12'">
            <ion-searchbar placeholder="{{ 'USER.FIND_USER' | translate }}" (ionChange)="onSearch($any($event))">
            </ion-searchbar>
          </ion-col>
          <ion-col *ngIf="group" size="3" style="display: flex; justify-content: flex-end;">
            <ion-row style="display: flex; align-items: center;">
              <ion-button (click)="addUser()">
                <ion-icon slot="start" name="add"></ion-icon>{{ 'USER.ADD_USER' | translate }}
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list-header>{{ 'USER.PLURAL' | translate }}: {{users.length}}</ion-list-header>
              <div *ngIf="users.length > 0">
                <hr />
                <!-- List headers -->
                <ion-row>
                  <ion-col size="2" class="ion-text-center"><strong>{{'USER.FIELDS.USER_NAME' | translate}}</strong>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center"><strong>{{'USER.FIELDS.STUDENT_CUSTOM_CODE' |
                      translate}}</strong>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center"><strong>{{'USER.FIELDS.ROLE' | translate}}</strong>
                  </ion-col>
                  <ion-col size="2" class="ion-text-center"><strong>{{'USER.FIELDS.RELATIVES' | translate}}</strong>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center"><strong>{{'USER.FIELDS.STATUS' | translate}}</strong>
                  </ion-col>
                  <ion-col size="2" class="ion-text-center"><strong>{{'USER.FIELDS.USER_REG_CODE' | translate}}</strong>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center"><strong>{{'USER.FIELDS.POINTS' | translate}}</strong>
                  </ion-col>
                  <ion-col size="2"></ion-col>
                </ion-row>
                <hr class="solid" />
                <!-- List content -->
                <ion-list *ngIf="users.length > 0">
                  <ion-item button class="user-item" *ngFor="let user of users; let i = index">
                    <ion-col size="2" class="ion-text-center">{{getUsername(user)}}</ion-col>
                    <ion-col size="1" class="ion-text-center">{{user.externalId}}</ion-col>
                    <ion-col size="1" class="ion-text-center">{{getUserRole(user)}}</ion-col>
                    <ion-col size="2" class="ion-text-center">{{getRelatives(user)}}</ion-col>
                    <ion-col size="1" class="ion-text-center">{{getRegisterStatus(user)}}</ion-col>
                    <ion-col size="2" class="ion-text-center">
                      {{!user.userRegistrationCode ? user.registrationCode : user.userRegistrationCode}}
                      <ion-button *ngIf="!user.userRegistrationCode && !user.registrationCode"
                        (click)="createRegistrationCode(user); $event.stopPropagation();" color="light" fill="solid">
                        <ion-icon slot="start" name="add"></ion-icon>{{ 'USER.NEW_REG_CODE' | translate }}
                      </ion-button>
                    </ion-col>
                    <ion-col size="1" class="ion-text-center">{{user.points ? user.points : 0}}</ion-col>
                    <ion-col size="2">
                      <ion-buttons class="ion-justify-content-end">
                        <ion-button (click)="getUserChallenges(user); $event.stopPropagation();" color="light"
                          fill="solid">
                          <ion-icon slot="start" name="eye"></ion-icon>
                          {{'CHALLENGES.PLURAL' | translate}}
                        </ion-button>
                        <ion-button *ngIf="!group && user.roles.includes('Child')"
                          (click)="assignUserToGroup(user); $event.stopPropagation();" color="light" fill="solid">
                          <ion-icon slot="start" name="people"></ion-icon>
                          {{'ACTION.ASSIGN' | translate}}
                        </ion-button>
                        <ion-button (click)="onUserStatsClick(user); $event.stopPropagation();">
                          <ion-icon slot="icon-only" name="stats"></ion-icon>
                        </ion-button>
                        <ion-button (click)="editUser(user); $event.stopPropagation();">
                          <ion-icon slot="icon-only" name="create"></ion-icon>
                        </ion-button>
                        <ion-button *ngIf="group" [disabled]="user.roles.includes('Parent')"
                          (click)="removeUserFromGroup(user, i); $event.stopPropagation();">
                          <ion-icon [hidden]="user.roles.includes('Parent')" slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>
                  </ion-item>
                </ion-list>
              </div>
              <ion-label *ngIf="group && users.length === 0">{{ 'USER.NO_USERS_CREATED_ADD_THEM' | translate }}
              </ion-label>
              <ion-label *ngIf="!group && users.length === 0">{{ 'USER.NO_UNASSIGNED_USERS' | translate }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>