<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'CHALLENGES.CHALLENGE_INFO' | translate }}
      <ion-button style="float:right;" *ngIf="challenge.assignedToIds" (click)="showModalUsersAssignTo()">{{
        'CHALLENGES.ACTION.VIEW_USERS_ASSIGNED_LIST' | translate }}</ion-button>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap"><span>{{ 'CHALLENGES.FIELDS.NAME' | translate }}:</span> {{challenge.title}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap"><span>{{ 'CHALLENGES.FIELDS.DESCRIPTION' | translate }}:</span>
            {{challenge.description}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="challenge.explanation">
      <ion-col>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap"><span>{{ 'CHALLENGES.FIELDS.EXPLANATION' | translate }}:</span>
            {{challenge.explanation}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- field for programming challenge -->
    <ion-row *ngIf="challenge.startDatetime && challenge.finishDatetime && challenge.visibleDatetime">
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.START_DATE' | translate }}:</span> {{challenge.startDatetime | date:
            'dd/MM/yyyy'}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.END_DATE' | translate }}:</span> {{challenge.finishDatetime | date:
            'dd/MM/yyyy'}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.VISIBLE_DATE' | translate }}:</span> {{challenge.visibleDatetime |
            date: 'dd/MM/yyyy'}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-item lines="none">
          <ion-label *ngIf="challenge.periodDays"><span>{{ 'CHALLENGES.FIELDS.PERIOD_IN_DAYS' | translate }}:</span>
            {{challenge.periodDays}}
          </ion-label>
          <ion-label *ngIf="!challenge.periodDays"><span>{{ 'CHALLENGES.FIELDS.PERIOD_IN_DAYS' | translate }}:</span> {{
            'CHALLENGES.FIELDS.WITHOUT_PERIODICITY' | translate }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item lines="none">
          <ion-label class="ion-text-wrap" *ngIf="challenge.periodAmount"><span>{{
              'CHALLENGES.FIELDS.PERIOD_AMOUNT_TO_COMPLETE' | translate }}:</span>
            {{challenge.periodAmount}}
          </ion-label>
          <ion-label class="ion-text-wrap" *ngIf="!challenge.periodAmount"><span>{{
              'CHALLENGES.FIELDS.PERIOD_AMOUNT_TO_COMPLETE' | translate }}:</span>
            {{ 'CHALLENGES.FIELDS.WITHOUT_PERIODICITY' | translate }}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="challenge.didacticUnitsIds">
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.DIDACTIC_UNITS_ASSIGNED' | translate }}:</span>
            {{resolvedDidacticUnits}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.CATEGORY' | translate }}:</span> {{
            ('CHALLENGES.CATEGORY.'+challenge.category) | uppercase | translate }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.SUBCATEGORY' | translate }}:</span> {{
            ('CHALLENGES.SUBCATEGORY.'+challenge.subcategory) | uppercase | translate }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap"><span>{{ 'CHALLENGES.FIELDS.LOCKDOWN_SITUATION_COMPATIBLE' | translate
              }}:</span> {{challenge.lockDown === undefined ? ('ACTION.NON_SPECIFIED' | translate) :
            (challenge.lockDown.toString() | uppercase | translate)}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.SCORE_FOR_PARENT' | translate }}:</span> {{challenge.points.onlyParent
            ? challenge.points.onlyParent : 0}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.SCORE_FOR_CHILD' | translate }}:</span> {{challenge.points.onlyChild ?
            challenge.points.onlyChild : 0}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.SCORE_FOR_BOTH' | translate }}:</span> {{challenge.points.both ?
            challenge.points.both : 0}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.ASSIGNED_FOR' | translate }}:</span> {{
            getAssignedForTranslated(challenge.assignedFor) }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.MIN_AGE' | translate }}:</span> {{challenge.minAge}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.MAX_AGE' | translate }}:</span> {{challenge.maxAge}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.TYPE' | translate }}: </span> {{ ('CHALLENGES.TYPE.'+challenge.type) |
            uppercase | translate }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="challenge.type" [ngSwitch]="challenge.type">
        <!-- type physical -->
        <ion-item *ngSwitchCase="'physical'" lines="none">
          <ion-label><span>{{ 'CHALLENGES.FIELDS.STEPS_TO_COMPLETE' | translate }}:</span> {{challenge.steps}}
          </ion-label>
        </ion-item>
        <!-- type authority -->
        <div *ngSwitchCase="'authority'">
          <ion-row *ngIf="challenge.childRelation">
            <ion-item lines="none">
              <ion-label><span>{{ 'CHALLENGES.FIELDS.RELATION_WITH_CHILD' | translate }}:</span> {{getChildRelation()}}
              </ion-label>
            </ion-item>
          </ion-row>
          <ion-row *ngIf="challenge.specificIds">
            <ion-item lines="none">
              <ion-label class="ion-text-wrap"><span>{{ 'CHALLENGES.FIELDS.WHO_AUTH' | translate }}:</span>
                {{challenge.specificIds}}</ion-label>
            </ion-item>
          </ion-row>
        </div>
        <!-- type gps -->
        <div *ngSwitchCase="'gps'">
          <ion-button expand="full" (click)="showMap()">{{actionMap}}<ion-icon *ngIf="!isShowingMap" slot="end"
              name="arrow-dropdown"></ion-icon>
            <ion-icon *ngIf="isShowingMap" slot="end" name="arrow-dropup"></ion-icon>
          </ion-button>
          <div *ngIf="isShowingMap" id="map"></div>
        </div>
        <!-- type questionnaire -->
        <div *ngSwitchCase="'questionnaire'">
          <ion-button expand="full" (click)="showQuestionnaire()">{{actionQuestionnaire}}<ion-icon
              *ngIf="!isShowingQuestionnaire" slot="end" name="arrow-dropdown"></ion-icon>
            <ion-icon *ngIf="isShowingQuestionnaire" slot="end" name="arrow-dropup"></ion-icon>
          </ion-button>
          <app-survey *ngIf="isShowingQuestionnaire" [json]="questionnaireJson" [data]="questionnaireCorrectAnswer"
            [surveyMode]="'display'"></app-survey>
        </div>
        <!-- type news -->
        <div *ngSwitchCase="'news'">
          <ion-button expand="full" (click)="showNews()">{{actionNews}}<ion-icon *ngIf="!isShowingNews" slot="end"
              name="arrow-dropdown"></ion-icon>
            <ion-icon *ngIf="isShowingNews" slot="end" name="arrow-dropup"></ion-icon>
          </ion-button>
          <app-news-viewer *ngIf="isShowingNews" [content]="newsContent"></app-news-viewer>

          <div *ngIf="challenge.questionnaire">
            <ion-button expand="full" (click)="showQuestionnaireNews()">{{actionQuestionnaireNews}}<ion-icon
                *ngIf="!isShowingQuestionnaireNews" slot="end" name="arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="isShowingQuestionnaireNews" slot="end" name="arrow-dropup"></ion-icon>
            </ion-button>
            <app-survey *ngIf="isShowingQuestionnaireNews" [json]="questionnaireNewsJson"
              [data]="questionnaireCorrectAnswer" [surveyMode]="'display'"></app-survey>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>