<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CHALLENGE_DETAIL.QUESTIONNAIRE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-survey [json]="questionnaireJson" (results)="onQuestionnaireResult($event)" [surveyMode]="'edit'"></app-survey>
  <ion-button style="margin-top: 20px;" expand="block" fill="outline" *ngIf="challengeCompleted" (click)="markChallengeAsCompleted($event)">
    {{'CHALLENGE_DETAIL.RESOLVE_QUESTIONNAIRE' | translate}}
  </ion-button>
</ion-content>