:host {
  border: 2px solid;
  border-radius: 100%;
  padding: 1.1vw;

  aspect-ratio: 1/1;
  box-sizing: border-box;

  text-align: center;
  vertical-align: middle;

  ion-icon {
    height: 100%;
    width: 100%;
  }
}