<ion-icon *ngIf="animal && color; else default" src="{{'assets/' + animal + '.svg'}}" [style.color]="color"></ion-icon>

<ng-template #default>
  <ion-icon name="person-outline" [style.color]="color"></ion-icon>
</ng-template>