<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'GROUPS.ADD_GROUP_TO' | translate:{entity:entityName} }}</ion-title>
    <ion-button slot="end" (click)="closeAddGroupModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <form [formGroup]="addGroup" (ngSubmit)="newGroup()">
          <ion-row>
            <ion-col size="9">
              <ion-item>
                <ion-label position="floating">{{ 'GROUPS.FIELDS.GROUP_NAME' | translate }}
                </ion-label>
                <ion-input formControlName="name"></ion-input>
                <span slot="error" *ngIf="nameField.dirty&& nameField.hasError('min')">{{'ERRORS.NAME_TOO_SHORT' |
                  translate:{length:3} }}</span>
              </ion-item>
            </ion-col>
            <ion-col class="ion-text-right" size="3" class="add-group">
              <ion-button expand="block" type="submit" [disabled]="!addGroup.valid">
                {{ 'ACTION.ADD' | translate }}<ion-icon name="add-circle"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="createdGroups.length > 0">
            <ion-col>
              <ion-list-header>{{ 'GROUPS.CREATED_GROUPS' | translate }}</ion-list-header>
              <ion-list>
                <ion-item *ngFor="let group of createdGroups">{{group.name}}</ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>