<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'USER.ASSIGN_USER_TO_GROUP' | translate }}</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item lines="none">
          <ion-label [innerHTML]="'USER.ASSIGN_TO' | translate: {val: username}"></ion-label>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ionic-selectable placeholder="{{ 'ACTION.SELECT' | translate }}" [items]="groups" itemValueField="id"
                itemTextField="name" [canSearch]="true" [isMultiple]="false"
                searchFailText="{{ 'ERRORS.GROUP_NOT_FOUND' | translate }}" [canClear]="false"
                searchPlaceholder="{{ 'ACTION.FIND' | translate }}" clearButtonText="{{ 'ACTION.DELETE' | translate }}"
                closeButtonText="{{ 'ACTION.CANCEL' | translate }}" closeButtonSlot="end" [(ngModel)]="groupSelected">
                <ng-template ionicSelectableValueTemplate let-users="value">
                  <div class="ionic-selectable-value-item">
                    {{groupSelected?.name}}
                  </div>
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="assign" (click)="assignUserToGroup()" [disabled]="!groupSelected" expand="block">
              {{'ACTION.ASSIGN' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>