<ion-header> 
  <ion-toolbar>
    <ion-title class="ion-text-center">Editar reto (Si cambias el nombre se creará uno nuevo)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <app-challenge-form [isFromAddChallenge]="true" [submitObserver]="submitEmitter"
          (challengeCorrect)="sendChallenge($any($event))" (challengeError)="showChallengeError($any($event))"
          [onChallengeSelected]="selectedChallengeEmitter">
        </app-challenge-form>
        <ion-row style="margin-top: 40px;"> 
          <ion-col>
            <ion-button expand="full" type="submit" (click)="editChallenge()">
              Editar<ion-icon slot="start" name="create"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>