<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col style="display: flex; justify-content: flex-end;">
        <ion-button fill="clear" (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <app-challenge-preview [challenge]="challenge"></app-challenge-preview>
  </ion-grid>
</ion-content>