<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'LOGIN.FORGOT_PASSWORD_TITLE' | translate }}</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="lostPassword" (ngSubmit)="getLostPasswordEmail()">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="at-outline"></ion-icon>{{ 'EMAIL' | translate }}
            </ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
            <span slot="error">
              <ion-text *ngIf="email.hasError('email')">
                <ion-icon name="alert">
                </ion-icon>{{'ERRORS.INCORRECT_EMAIL_EXTENDED'|translate}}
              </ion-text>
            </span>
          </ion-item>
          <br />
          <ion-button type="submit" [disabled]="!lostPassword.valid" class="submit-button">
            {{ 'ACTION.SEND' | translate }}<ion-icon name="send"></ion-icon>
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>