.full-width {
  flex-grow: 1;
}

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.editor-content {
  flex-grow: 1;
  //height: 1500px;
  overflow-y: auto;

  /* background-color: rgb(255, 0, 0); */
}

.form-label {
  font-weight: bold;
}

ion-footer {
  margin-top: 20px;
}
