<div class="full-width editor-container">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button size="small" (click)="onBackClick()">
          <ion-icon name="return-left" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="editor-content">
    <!-- General category -->
    <!-- <app-checkbox-editor-template
      [(question)]="question"
      (questionChange)="onContentChange()"
    ></app-checkbox-editor-template> -->
    <ng-template #insertTemplate></ng-template>

    <!-- <ion-list *ngIf="question.getType() === 'text'">
      <ion-list-header>Input</ion-list-header>
      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select
          placeholder="Selecciona uno"
          value="text"
          (ionChange)="onContentChange($event)"
          debounce="100"
        >
          <ion-select-option> </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Placeholder</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="question.name"
          (ionChagne)="onContentChange($event)"
          debounce="100"
        ></ion-input>
      </ion-item>
    </ion-list> -->
  </div>

  <ion-toolbar style="text-align: right; padding-right: 0.5em;">
    <ion-button (click)="onBackClick()">{{saveQuestionText}} </ion-button>
    <ion-button color="danger" fill="solid" (click)="onDeleteClick()">{{removeQuestionText}} </ion-button>
  </ion-toolbar>
</div>