<ion-content>
<!-- Android specific configuration -->
  <div *ngIf="isAndroid">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{'HEALTH_APP.VERIFY_GOOGLE_FIT'|translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="!healthAppInstalled ; else installed">
          <p>
            <ion-text>{{'HEALTH_APP.GFIT_NOT_INSTALLED'|translate}}</ion-text>
          </p>
          <p>
            <ion-text>{{'HEALTH_APP.GFIT_INSTALL_TEXT'|translate}}</ion-text>
          </p>
          <ion-button fill="outline" expand="block"
            (click)="installHealthApp()">{{'HEALTH_APP.GFIT_INSTALL_BUTTON'|translate}}</ion-button>
        </div>
        <ng-template #installed>
          <p>
            <ion-text>{{'HEALTH_APP.GFIT_INSTALLED'|translate}}</ion-text>
          </p>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="healthAppInstalled">
      <ion-card-header>
        <ion-card-title>{{'HEALTH_APP.GFIT_DATA_ACCESS_PERMISSION_CHECK'|translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="healthDataAuthorized; else notAuthorized">
          <p>
            <ion-text>{{'HEALTH_APP.GFIT_DATA_ACCESS_GRANTED'|translate}}</ion-text>
          </p>
        </div>
        <ng-template #notAuthorized>
          <p>
            <ion-text>{{'HEALTH_APP.GFIT_DATA_ACCESS_NOT_GRANTED'|translate}}</ion-text>
          </p>
          <p>
            <ion-text>
              {{'HEALTH_APP.GFIT_GRANT_ACCESS_TEXT'|translate}}
            </ion-text>
          </p>
          <ion-button fill="outline" expand="block"
            (click)="askHealthDataAccessPermission()">{{'HEALTH_APP.GFIT_CONSENT_BUTTON'|translate}}</ion-button>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- iOS specific configuration -->
  <div *ngIf="isIOs">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{'HEALTH_APP.VERIFY_APPLE_HEALTH'|translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="!healthAppInstalled ; else installed">
          <p>
            <ion-text>{{'HEALTH_APP.APPLE_HEALTH_NOT_INSTALLED'|translate}}</ion-text>
          </p>
          <p>
            <ion-text>{{'HEALTH_APP.APPLE_HEALTH_INSTALL_TEXT'|translate}}</ion-text>
          </p>
          <ion-button fill="outline" expand="block"
            (click)="installHealthApp()">{{'HEALTH_APP.APPLE_HEALTH_INSTALL_BUTTON'|translate}}</ion-button>
        </div>
        <ng-template #installed>
          <p>
            <ion-text>{{'HEALTH_APP.APPLE_HEALTH_INSTALLED'|translate}}</ion-text>
          </p>
        </ng-template>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="healthAppInstalled">
      <ion-card-header>
        <ion-card-title>{{'HEALTH_APP.APPLE_HEALTH_DATA_ACCESS_PERMISSION_CHECK'|translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="healthDataAuthorized; else notAuthorized">
          <p>
            <ion-text>{{'HEALTH_APP.APPLE_HEALTH_DATA_ACCESS_GRANTED'|translate}}</ion-text>
          </p>
        </div>
        <ng-template #notAuthorized>
          <p>
            <ion-text>{{'HEALTH_APP.APPLE_HEALTH_DATA_ACCESS_NOT_GRANTED'|translate}}</ion-text>
          </p>
          <p>
            <ion-text>
              {{'HEALTH_APP.APPLE_HEALTH_GRANT_ACCESS_TEXT'|translate}}
            </ion-text>
          </p>
          <ion-button fill="outline" expand="block"
            (click)="askHealthDataAccessPermission()">{{'HEALTH_APP.APPLE_HEALTH_CONSENT_BUTTON'|translate}}</ion-button>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button class="app-button" expand="block" fill="outline" [disabled]="!healthAppInstalled || !healthDataAuthorized"
    (click)="continue();">Continuar a la app</ion-button>
</ion-content>