<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'PROFILE.TOOLBAR' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-header">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-avatar *ngIf="!animalName && !animalColor">
          <img src="https://icons-for-free.com/iconfiles/png/512/profile+user+icon-1320166082804563970.png" alt="">
        </ion-avatar>
        <ion-icon *ngIf="animalName && animalColor" class="custom" src="{{'assets/' + animalName + '.svg'}}" style="height: 80px; width: 80px; margin-top: 20px;" [style.color]="animalColor"></ion-icon>
      </ion-row>
      <ion-row style="margin-top: 20px;">
        <ion-label>
          {{'PROFILE.USER' | translate}}
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="label-description">
          {{displayName}}<span class="display-number" *ngIf="displayNumber">{{displayNumber}}</span>
        </ion-label>
      </ion-row>
      <div id="separator"></div>
      <div *ngIf="isAChild">
        <ion-row>
          <ion-label>{{'PROFILE.POINTS' | translate}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="label-description">{{points}}</ion-label>
        </ion-row>
        <div id="separator"></div>
      </div>
      <div *ngIf="!isAChild">
        <ion-row>
          <ion-label>{{'PROFILE.STEPS' | translate}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label *ngIf="user" class="label-description">{{user.steps ? user.steps : 0}}</ion-label>
        </ion-row>
        <div id="separator"></div>
      </div>
      <ion-row>
        <ion-label>{{'PROFILE.NUMBER_OF_CHALLENGES' | translate}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label *ngIf="user" class="label-description">{{getNumberAssignedChallenges()}}</ion-label>
      </ion-row>
      <div id="separator"></div>
      <ion-row>
        <ion-label>{{'PROFILE.NUMBER_OF_COMPLETE_CHALLENGES' | translate}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label *ngIf="user" class="label-description">{{getNumberCompletedChallenges()}}</ion-label>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>