#search-content {
  background-color: var(--ion-color-primary);
}

.challenges-list {
  padding: 0 !important;
  margin: 0 !important;
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-bottom-color: black;
}

.challenge-item-important {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(91, 185, 196, 0.3) !important;
}

.challenge-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(63, 64, 65, 0.63);
  background-color: rgba(188, 190, 194, 0.1) !important;
}

.challenge-title {
  font-size: 18px;
}

.start-date {
  font-size: 12px;
}

.challenge-today-icon {
  text-align: right;
  display: flex;
  align-items: center;
}

ion-searchbar {
  --background: white;
}

ion-select {
  width: 100% !important;
  max-width: 100% !important;
}

ion-grid {
  --ion-grid-columns: 12;
}

.item-selector {
  display: inline-block;
  width: 100% !important;
}

.no-data {
  text-align: center;
  width: 100%;
  top: 50%;
  position: absolute;
}

ion-spinner {
  text-align: center;
  width: 100%;
  top: 50%;
  position: absolute;
}