<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'HOME_MENU.MY_CHALLENGES' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div id="search-content">
      <ion-searchbar placeholder="{{'VERBS.SEARCH' | translate}}..." (ionChange)="onSearch($event)">
      </ion-searchbar>
      <ion-grid>
        <ion-row>
          <ion-col size="10" class="item-selector">
            <ion-card class="ion-activatable" lines="none"
              style="margin-left: 0px; margin-top: 0px; margin-right: 0px; background-color: white;">
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              <ion-select value="current" interface="action-sheet" cancelText="{{'VERBS.CANCEL' | translate}}"
                (ionChange)="filterList($event)">
                <ion-select-option value="current">{{'CHALLENGES_LIST.CURRENT' | translate}}</ion-select-option>
                <ion-select-option value="past">{{'CHALLENGES_LIST.PAST' | translate}}</ion-select-option>
                <ion-select-option value="completed">{{'CHALLENGES_LIST.COMPLETED' | translate}}</ion-select-option>
              </ion-select>
            </ion-card>
          </ion-col>
          <ion-col class="ion-align-self-center" size="2" style="display: inline-block;">
            <ion-row class="ion-justify-content-end">
              <ion-card class="ion-activatable" lines="none"
                style="padding: 10px; background-color: white; margin-left: 0px; margin-right: 0px; margin-top: 0px;"
                (click)="onFiltersClick()">
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                <ion-icon name="funnel">
                  <ion-item>
                    <ion-label>{{'CHALLENGES_LIST.FILTERED_BY' | translate}}</ion-label>
                    <ion-select cancelText="{{'VERBS.CANCEL' | translate}}" okText="{{'VERBS.SELECT' | translate}}"
                      #challengeTypeFilter (ionChange)="filterByType($event)" [value]="type">
                      <ion-select-option value="all">{{'CHALLENGES_LIST.ALL' | translate}}</ion-select-option>
                      <ion-select-option value="physical">{{'CHALLENGES_LIST.PHYSICAL_ACTIVITY' | translate}}
                      </ion-select-option>
                      <ion-select-option value="gps">{{'CHALLENGES_LIST.GPS' | translate}}</ion-select-option>
                      <ion-select-option value="authority">{{'CHALLENGES_LIST.AUTHORITY' | translate}}
                      </ion-select-option>
                      <ion-select-option value="news">{{'CHALLENGES_LIST.NEWS' | translate}}</ion-select-option>
                      <ion-select-option value="questionnaire">{{'CHALLENGES_LIST.QUESTIONNAIRE' | translate}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-icon>
              </ion-card>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="content-list" *ngIf="(challenges && challenges.length > 0) && !isLoading">
      <ion-list *ngFor="let challenge of challenges" class="challenges-list">
        <ion-row *ngIf="challenge.important" detail="false" class="challenge-item-important ion-align-items-center"
          button (click)="onChallengeClick(challenge)">
          <ion-col style="text-align: left;">
            <ion-row>
              <span class="challenge-title">
                <strong>{{challenge.title}}</strong>
              </span>
            </ion-row>
            <ion-row>
              <span class="start-date">
                {{'CHALLENGES_LIST.START' | translate}}:
                {{challenge.periodStartDatetime | date:'dd \'de\' MMMM \'del\' yyyy'}}
              </span>
            </ion-row>
          </ion-col>
          <ion-col *ngIf="challenge.active" size="1.5" class="challenge-today-icon">
            <ion-icon name="flash" style="font-size: 60px;"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!challenge.important" detail="false" class="challenge-item ion-align-items-center" button
          (click)="onChallengeClick(challenge)">
          <ion-col style="text-align: left;">
            <ion-row>
              <span class="challenge-title">
                {{challenge.title}}
              </span>
            </ion-row>
            <ion-row>
              <span class="start-date">
                {{'CHALLENGES_LIST.START' | translate}}:
                {{challenge.periodStartDatetime | date:'dd \'de\' MMMM \'del\' yyyy'}}
              </span>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
    <div *ngIf="!challenges || (challenges && challenges.length === 0) && !isLoading" class="no-data">
      {{'CHALLENGES_LIST.NO_DATA' | translate}}
    </div>
  </div>
  <ion-spinner *ngIf="isLoading"></ion-spinner>
</ion-content>