<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'HOME_MENU.MY_INSIGNIAS' | translate}} <ion-icon name="help-circle" style="margin-left: 5px;" (click)="showHelp()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="badges && badges.length > 0">
      <ion-list-header>{{'BADGES.ACHIEVE_BADGES' | translate}}</ion-list-header>
      <ion-list>
        <ion-row *ngFor="let badge of badges">
          <ion-col size="5" class="ion-align-self-center">
            <img class="badge" [src]="challengesUrl + '/badge/' + badge.id + '/image' | authImage | async | safeHtml" alt="" />
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            <ion-row>
              <ion-label *ngIf="badge.code!==undefined;else noBadgeCode"><strong>{{'BADGES.'+(badge.code | uppercase)|translate|uppercase}}</strong></ion-label>
              <ng-template #noBadgeCode>
                <ion-label><strong>{{badge.name|uppercase}}</strong></ion-label>
              </ng-template>
            </ion-row>
            <ion-row *ngIf="badge.description">
              <ion-label>{{badge.description}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-row>
    <ion-row *ngIf="futureBadges && futureBadges.length > 0">
      <ion-list-header>{{'BADGES.FUTURE_BADGES' | translate}}</ion-list-header>
      <ion-list>
        <ion-row *ngFor="let badge of futureBadges">
          <ion-col size="5" class="ion-align-self-center">
            <img class="future-badge" [src]="challengesUrl + '/badge/' + badge.id + '/image' | authImage | async | safeHtml" alt="" />
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            <ion-row>
              <ion-label *ngIf="badge.code!==undefined;else noBadgeCode" class="future-label"><strong>{{'BADGES.'+(badge.code | uppercase)|translate|uppercase}}</strong></ion-label>
              <ng-template #noBadgeCode>
                <ion-label class="future-label"><strong>{{badge.name|uppercase}}</strong></ion-label>
              </ng-template>
            </ion-row>
            <ion-row *ngIf="badge.description">
              <ion-label class="future-label">{{badge.description}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-row>
    <ion-item lines="none" *ngIf="(badges && badges.length === 0) && (futureBadges && futureBadges.length === 0)">
      <p>{{'BADGES.NO_BADGES' | translate}}</p>
    </ion-item>
  </ion-grid>
</ion-content>