<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-text-center">{{ 'DIDACTIC_UNIT.PROGRAMMING_UNIT' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <form [formGroup]="assignUnitForm">
          <!-- SELECT DIDACTIC UNIT -->
          <ion-row class="ion-align-items-center" style="padding-top: 20px;">
            <ion-col size="3">
              <ion-label><strong>{{'DIDACTIC_UNIT.SINGULAR' | translate}}</strong></ion-label>
            </ion-col>
            <ion-col size="9">
              <ion-card>
                <ionic-selectable placeholder="{{ 'DIDACTIC_UNIT.SELECT_DIDACTIC_UNIT' | translate }}"
                  [(items)]="allDidacticUnits" itemValueField="id" itemTextField="name" [canSearch]="true"
                  [isMultiple]="false" searchFailText="{{ 'ERRORS.DIDACTIC_UNIT_NOT_FOUND' | translate }}"
                  [canClear]="false" searchPlaceholder="{{ 'ACTION.FIND' | translate }}"
                  closeButtonText="{{ 'ACTION.CLOSE' | translate }}" closeButtonSlot="end"
                  (onClose)="onDidacticUnitSelected($event.component.value)">
                  <ng-template ionicSelectableValueTemplate let-unit="value">
                    <div class="ionic-selectable-value-item">
                      {{unit.name}}
                    </div>
                  </ng-template>
                </ionic-selectable>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row lines="none" *ngIf="selectedUnit.invalid">
            <ion-col>
              <ion-icon name="alert" color="danger"></ion-icon>
              <ion-label color="danger" style="font-size: 11px;">
                {{ 'ERRORS.NO_DIDACTIC_UNIT_SELECTED' | translate }}
              </ion-label>
            </ion-col>
          </ion-row>

          <!-- ASSIGN TO controls-->
          <ion-row style="margin-top: 10px;">
            <ion-col>
              <app-assign-to (changed)="assignToComponentChange($event)" (levelSelected)="onLevelSelected($event)"
                [canEdit]="true">
              </app-assign-to>
            </ion-col>
          </ion-row>

          <!-- TEMPORALITY controls -->
          <ion-row style="margin-top: 10px;">
            <ion-col>
              <ion-label>{{'DIDACTIC_UNIT.FIELDS.TEMPORALITY' | translate}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">{{ 'CHALLENGES.FIELDS.START_DATE' | translate }}</ion-label>
                <ion-input readonly formControlName="initialDate" (click)="openDatePicker('initial')"></ion-input>
              </ion-item>
              <ion-item lines="none" *ngIf="initialDate?.invalid && initialDate?.errors?.['required'] && isSubmitted">
                <ion-icon slot="start" name="alert" color="danger" style="width: 20px; height: 20px;"></ion-icon>
                <ion-label color="danger" style="font-size: 11px;">
                  {{ 'ERRORS.START_DATE_REQUIRED' | translate }}
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 20px;">
            <ion-col>
              <ion-button expand="full" type="submit" (click)="assignDidacticUnit()"
                [disabled]="assignUnitForm.invalid">
                {{ 'DIDACTIC_UNIT.PROGRAMMING_UNIT' | translate }}<ion-icon slot="start" name="add-circle"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>