<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ (isEditMode ? 'DIDACTIC_UNIT.MODIFY_DIDACTIC_UNIT' : 'DIDACTIC_UNIT.CREATE') | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addUnitForm">
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
          <!-- Name -->
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">{{'DIDACTIC_UNIT.FIELDS.NAME' | translate}}</ion-label>
                <ion-input formControlName="name" debounce="300"></ion-input>
                <span slot="error" *ngIf="name?.invalid && name?.errors?.['required']">
                  <ion-label color="danger">
                    <ion-icon slot="start" name="alert" color="danger"></ion-icon>
                    {{ 'ERRORS.DIDACTIC_UNIT_NAME_REQUIRED' | translate }}
                  </ion-label>
                </span>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Duration -->
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">{{'DIDACTIC_UNIT.FIELDS.DURATION' | translate}}</ion-label>
                <ion-input formControlName="duration" type="number" min="1" debounce="300"></ion-input>
                <span slot="error" *ngIf="duration?.invalid && duration?.errors?.['required'] ">
                  <ion-label color="danger">
                    <ion-icon slot="start" name="alert" color="danger"></ion-icon>
                    {{ 'ERRORS.DIDACTIC_UNIT_DURATION_REQUIRED' | translate }}
                  </ion-label>
                </span>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- challenges -->
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="toggleChallengesList()" expand="block" style="margin-top: 20px;">
                <ion-label>{{'DIDACTIC_UNIT.SELECT_CHALLENGES' | translate}}</ion-label>
                <ion-icon slot="end" name="caret-down" *ngIf="!showChallenges"></ion-icon>
                <ion-icon slot="end" name="caret-up" *ngIf="showChallenges"></ion-icon>
              </ion-button>

              <ion-row *ngIf="challenges && showChallenges">
                <ion-col>
                  <ion-row>{{ 'CHALLENGES.PLURAL' | translate }}</ion-row>
                  <ion-searchbar placeholder="{{ 'CHALLENGES.FIND_CHALLENGE' | translate }}"
                    (ionChange)="onSearch($any($event))">
                  </ion-searchbar>
                  <div style="width: 100%; max-height: 400px; overflow-y: auto;" scrollY="true">
                    <ion-segment value="todos" (ionChange)="onLockDownChanged($any($event))">
                      <ion-segment-button value="todos">
                        <ion-label>{{ 'ACTION.ALL' | translate }}</ion-label>
                      </ion-segment-button>
                      <ion-segment-button value="lockDown">
                        <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_COMPATIBLE' | translate }}</ion-label>
                      </ion-segment-button>
                      <ion-segment-button value="noLockDown">
                        <ion-label>{{ 'CHALLENGES.FIELDS.LOCKDOWN_NO_COMPATIBLE' | translate }}</ion-label>
                      </ion-segment-button>
                    </ion-segment>
                    <ion-list>

                      <ion-item button="true" *ngFor="let challenge of challenges; let i = index"
                        (ionChange)="onChallengeSelected(challenge,i);">

                        <ion-checkbox [checked]="challenge.selected" slot="start"
                          aria-label="challenge.title"></ion-checkbox>
                        {{challenge.title}}
                      </ion-item>
                    </ion-list>
                  </div>
                </ion-col>
              </ion-row>

              <ng-container formArrayName="selectedChallenges">
                <!-- Header row -->
                <ion-row>
                  <ion-col class="ion-text-center" size="8">
                    <ion-label>{{'DIDACTIC_UNIT.CHALLENGES' | translate}}</ion-label>
                  </ion-col>
                  <ion-col class="ion-text-center" size="2">
                    <ion-label>{{'DIDACTIC_UNIT.START_DAY' | translate}}</ion-label>
                    <ion-icon name="help-circle" (click)="dateInfoClicked('DIDACTIC_UNIT.START_DAY')"></ion-icon>
                  </ion-col>
                  <ion-col class="ion-text-center" size="2">
                    <ion-label>{{'DIDACTIC_UNIT.FINISH_DAY' | translate}}</ion-label>
                    <ion-icon name="help-circle" (click)="dateInfoClicked('DIDACTIC_UNIT.FINISH_DAY')"></ion-icon>
                  </ion-col>
                </ion-row>

                <!-- No challenges added disclaimer-->
                <ion-row *ngIf="selectedChallenges?.controls.length===0">
                  <ion-col size="12" class="no-challenges-container">{{'DIDACTIC_UNIT.NO_CHALLENGES_DEFINED'|translate}}
                  </ion-col>
                </ion-row>
                <!-- Challenges setup -->
                <ng-container *ngFor="let challengeForm of selectedChallenges?.controls;let i = index">
                  <app-challenge-setup-item [challengeForm]="challengeForm"></app-challenge-setup-item>
                </ng-container>
                <div style="margin-top:15px"  *ngIf="selectedChallenges.hasError('noInitDateZero')">
                  <ion-text  color="danger">
                    *{{'DIDACTIC_UNIT.CHALLENGE_SHOULD_START_AT_0'|translate}}
                  </ion-text>
                </div>
              </ng-container>
            </ion-col>
          </ion-row>

          <!-- Badge-->
          <ion-row>
            <ion-col size="11">
              <ion-text>{{'DIDACTIC_UNIT.ADD_BADGE'|translate}}</ion-text>
            </ion-col>
            <ion-col size="1">
              <ion-toggle formControlName="addBadge"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>

            <span *ngIf="addBadge?.value || false" [formGroup]="badge">
              <ion-row style="margin-top: 20px;">
                <ion-col>
                  <ion-label>{{'DIDACTIC_UNIT.UNIT_BADGE' | translate}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">{{'DIDACTIC_UNIT.BADGE_NAME' | translate}}</ion-label>
                    <ion-input formControlName="badgeName" debounce="300"></ion-input>
                    <span slot="error">
                      <ion-label color="danger">
                        <ion-icon slot="start" name="alert" color="danger"></ion-icon>
                        {{ 'ERRORS.DIDACTIC_UNIT_BADGE_NAME_REQUIRED' | translate }}
                      </ion-label>
                    </span>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">{{'DIDACTIC_UNIT.BADGE_DESCRIPTION' | translate}}</ion-label>
                    <ion-input formControlName="badgeDescription" debounce="300"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label>{{'DIDACTIC_UNIT.IMAGE' | translate}}</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-button (click)="f.click()">{{'ACTION.SELECT_FILE'|translate}}</ion-button>
                  <input style="display:none;" #f type="file" accept="image/*"
                    (change)="loadImage($any($event.target).files)" />
                  <span *ngIf="badgeImage.errors?.required" style="font-size:12px ;">
                    <ion-icon name="alert" color="danger"></ion-icon>
                    <ion-text color="danger">{{'ERRORS.NO_BADGE_FILE_SELECTED'|translate}}
                    </ion-text>
                  </span>
                </ion-col>
                <ion-col size="12">
                  <ion-img *ngIf="badgeImage.value" src="{{badgeImage.value}}" style="max-width: 200px;"></ion-img>
                </ion-col>
              </ion-row>
            </span>
          </ion-row>
          <ion-button expand="block" [disabled]="addUnitForm.invalid || addUnitForm.pristine" class="button-create"
            (click)="createDidacticUnit()">
            <ion-icon *ngIf="!isEditMode" name="add" slot="start"></ion-icon>
            <ion-icon *ngIf="isEditMode" name="create" slot="start"></ion-icon>
            {{ (isEditMode ? 'DIDACTIC_UNIT.MODIFY_DIDACTIC_UNIT' : 'DIDACTIC_UNIT.CREATE') | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>