.button-create {
    margin-top: 20px;
}

hr.solid {
    border-top: 3px solid rgba(0, 0, 0, 0.13);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

ion-img,
img {
    max-width: 300px;
    max-height: 300px;
}

ion-col.no-challenges-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10em;
}