<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'USER.USER_DETAILS' | translate }}</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <div *ngIf="user">
          <ion-col style="display: flex; justify-content: flex-end;"
            *ngIf="user.roles.includes('Parent') || user.roles.includes('Child')">
            <ion-row style="display: flex; align-items: center;">
              <ion-button (click)="editUser()">
                <ion-icon name="create" slot="start"></ion-icon>{{ 'ACTION.EDIT' | translate }}
              </ion-button>
            </ion-row>
          </ion-col>
          <ion-item>
            <ion-label>{{ 'USER.SINGULAR' | translate }}: {{getDisplayName()}}</ion-label>
          </ion-item>
          <ion-item *ngIf="user.externalId">
            <ion-label>{{ 'USER.FIELDS.STUDENT_CUSTOM_CODE' | translate }}: {{user.externalId}}</ion-label>
          </ion-item>
          <ion-item *ngIf="user.registrationCode">
            <ion-label>{{ 'USER.FIELDS.USER_REG_CODE' | translate }}: {{user.registrationCode}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'ROL.SINGULAR' | translate }}: {{getRole()}}</ion-label>
          </ion-item>
          <ion-item *ngIf="user.points">
            <ion-label>{{ 'SCORE_OF' | translate: {val: user.points} }}</ion-label>
          </ion-item>
          <ion-item *ngIf="user.parentsUsers && user.parentsUsers.length > 0">
            <ion-label>{{'USER.PARENTS' | translate}} {{getParents()}}</ion-label>
          </ion-item>
          <ion-item *ngIf="user.childsUsers && user.childsUsers.length > 0">
            <ion-label>{{'USER.CHILDREN' | translate}} {{getChildren()}}</ion-label>
          </ion-item>
          <ion-item lines="none" *ngIf="challenges && challenges.length > 0">
            <ion-button (click)="showChallengesList()">{{ 'USER.VIEW_ASSIGNED_CHALLENGES' | translate }}</ion-button>
          </ion-item>
          <ion-item lines="none" *ngIf="challenges && challenges.length === 0">
            <ion-label>{{ 'USER.NO_ASSIGNED_CHALLENGES_EXISTS' | translate }}</ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>