<ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">

  <ion-item *ngIf="page.url" [routerDirection]="'root'" [routerLink]="[page.url]">
    <ion-icon slot="start" [name]="page.icon"></ion-icon>
    <ion-label>
      {{page.title | translate}}
    </ion-label>
  </ion-item>
  <ion-item button *ngIf="!page.url" (click)="onMenuItemClick(page)">
    <ion-icon slot="start" [name]="page.icon"></ion-icon>
    <ion-label>
      {{page.title | translate}}
    </ion-label>
  </ion-item>

</ion-menu-toggle>