<ion-app>
  <ion-header>
    <ion-toolbar id="main-toolbar">
      <ion-buttons slot="start" *ngIf="showBackButton()">
        <ion-button size="small" (click)="navigateBack()">
          <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title class="ion-text-center">{{ 'APP_TITLE' | translate }}</ion-title>

      <ion-buttons slot="end">
        <ion-button size="small" (click)="changeLanguage('ca')">
          <img src='assets/icon/val.png' alt="Valencià" title="Valencià" style="width : 30px ; height : 20px">
        </ion-button>
        <ion-button size="small" (click)="changeLanguage('es')">
          <img src='assets/icon/es.png' alt="Español" title="Español" style="width : 30px ; height : 20px">
        </ion-button>
        <ion-button size="small" (click)="changeLanguage('en')">
          <img src='assets/icon/en.png' alt="English" title="English" style="width : 30px ; height : 20px">
        </ion-button>
        <ion-button *ngIf="user" size="small" (click)="logout()">
          <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar id="sub-toolbar" *ngIf="showSubHeader()">
      <ion-title class="ion-text-center">{{getSubHeaderTitle()}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
  <ion-footer *ngIf="!user" no-border>
    <ion-grid>
      <ion-row>
        <ion-col class="app-privacy" sizeSm="4" sizeXs="12">
          <a target="_blank" [href]="privacyUrl">{{'LANDING.CHECK_PRIVACY'|translate}}</a>
        </ion-col>
        <ion-col class="app-contact" sizeSm="4" sizeXs="12">
          {{'LANDING.CONTACT'|translate}}: <a href="mailto:info@escalasalut.com">info@escalasalut.com</a>
        </ion-col>
        <ion-col class="app-version" sizeSm="4" sizeXs="12">
          {{'LANDING.VERSION'|translate}}: {{version}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>