#main-toolbar {
    --background: rgb(255, 75, 0);
    --color: white;
}

#sub-toolbar {
    --background: white;
    --color: rgb(255, 75, 0);
}

.app-version {
    text-align: center;
    font-weight: bold;

}

.app-privacy {
    text-align: center;

}

.app-contact {
    font-weight: bold;
    text-align: center;
}
 